* {
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;     
     
}

/*:target {
    scroll-margin-top: 1em;
}
*/
body  {
    width: 100%;
    height: 100vh;  
    background-color: #ffffff;  
    overflow-x: hidden;    
}    

header, .cabecalho{
    width: 100%;
    height: 8rem;
    /* background-color: aqua;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Hind', sans-serif;
    position: fixed;
    z-index: 99;      
}

.cabecalho a, .cabecalho i {
    text-decoration: none;
    font-size: 12.5px; 
    color: #ffffff;   
}

.cabecalho-superior {
    width: 100%;
    height: 3rem;
   /* background-color: rgb(4, 81, 95);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: 15px 0;    
}

.telefones {
    padding-bottom: 11px;
}

.cabecalho-inferior {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    box-shadow: 3px 0px 2px rgb(145, 143, 143); 
    display: flex;   
    justify-content: center;
    align-items: center; 
    position: relative;  
}

.logo {
    width: 150px;
    height: 16vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    position: fixed;
    z-index: 101; 
}

.menu-btn {
    width: 100%;
    height: 2rem;
   /* background-color: #05fc1d;*/
    position: absolute;
    display: block;
    padding-left: 30px;
    padding-top: 4px;   
}

.menu-btn > i {
    font-size: 25px;
    color: #2a2c36; 
}

.navbar {
    width: 100%;
    height: auto;
    padding-top: 26.2rem;
    display: none;  
    /*background-color: blueviolet; */
}

.navbar > ul {
    list-style: none;   
    padding-left: 0;
}

.navbar > ul > li > a {
    display: block;
    width: 100%;    
    background-color: #ffffff;
    padding: 19px;
    text-decoration: none;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2a2c36;    
}

.navbar > ul > li > a:hover {
    color: #ffffff;  
    background-color: #b19879;
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

.hero {
    width: 100%;
    height: 60vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
    color: #ffffff;  
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.2022.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     
}

.hero-texto {
    width: 100%;
    height: 15rem;
     display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
   /* background-color: #2a2c36;*/
}

.hero-texto > h1 {
    font-size: 31px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;    
    text-shadow:1px  rgb(43, 43, 43); 
    padding-top: 100px;         
}

.hero-texto > h2 {
    font-size: 27px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.4px;
   /* line-height: 34px;*/
    margin-top: 20px;    
    text-align: center;
    text-shadow:1px solid rgb(43, 43, 43);    
}

.acomodacoes {
    width: 100%;
    height: 261.8rem;
/*  background-color: #d35106;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #8d8d8d;       
    margin-top: 5rem; 
}

.acomodacoes-texto {
    width: 100%;
    height: 32.6rem;
 /*background-color: #e63e3e;*/
    text-align: justify;
    color: #818181;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;    
    padding: 0 40px;       
}

.acomodacoes-texto h3 {
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2a2c36;   
    margin-top: -8px;      
}

.acomodacoes-tipo {
    width: 100%;
    height: auto;
  /*background-color: blueviolet;*/
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    position: relative;      
}

.standard, .semi-luxo, .chale, .semi-luxo-sacada, .luxo{
    width: 100%;
    height: auto;
 /* background-color: green;*/
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column; 
    gap: 1rem;   
    margin-top: 3rem;
    position: relative;
}

.standard-carousel, .semi-luxo-carousel, .chale-carousel, .sl-sacada-carousel, .luxo-carousel {
    width: 100%;
    height: 20rem;
   /* background-color: blue;*/
}

.carousel-control-next-standard, .carousel-control-next-chale, .carousel-control-next-luxo, .carousel-control-prev-semi-luxo, .carousel-control-prev-sl-sacada {
    position: absolute;
    right: 8.5rem;
   /* top: 15rem;*/
    background-color: transparent;
    border: none;   
}  

#quarto1-slide1,#quarto1-slide2, #quarto1-slide3,#quarto1-slide4, #quarto1-slide5, #quarto2-slide1,#quarto2-slide2, #quarto2-slide3,#quarto2-slide4,#quarto2-slide5, #quarto3-slide1,#quarto3-slide2, #quarto3-slide3,#quarto3-slide4, #quarto3-slide5, #quarto3-slide6, #quarto4-slide1,#quarto4-slide2, #quarto4-slide3,#quarto4-slide4, #quarto4-slide5,#quarto5-slide1,#quarto5-slide2, #quarto5-slide3,#quarto5-slide4, #quarto5-slide5, #quarto5-slide6 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.4611.jpeg);
    background-repeat: no-repeat;  
    background-size: cover;  
    width: 100%;
    height: 20rem;    
}

#quarto1-slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/st11.jpg);    
}

#quarto1-slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/st22.jpg);    
}

#quarto1-slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.09.481.jpeg);    
}

#quarto1-slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.35.031.jpeg);    
}

#quarto2-slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.26.400.jpeg);      
}

#quarto2-slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.5511.jpeg);    
}

#quarto2-slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.26.3911.jpeg);    
}

#quarto2-slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.10.111.jpeg);    
}

#quarto2-slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.5622.jpeg);    
}

#quarto3-slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.27.499.jpeg);        
}

#quarto3-slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.2911.jpeg);    
}

#quarto3-slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.3011.jpeg);    
}

#quarto3-slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/ch44.jpg);    
}

#quarto3-slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.11.0822.jpeg);    
}

#quarto3-slide6 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.3122.jpeg);    
}

#quarto4-slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/es11.jpg);        
}

#quarto4-slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/es33.jpg);    
}

#quarto4-slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/es66.jpg);    
}

#quarto4-slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.5444.jpeg);    
}

#quarto4-slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.27.533.jpeg); 
    background-position: center center;    
} 

#quarto5-slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.2033.jpeg);        
}

#quarto5-slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.25.099.jpeg);
    background-position: center center;      
}

#quarto5-slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-23\ at\ 16.25.1111.jpeg);    
}

#quarto5-slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.12.071.jpeg);    
}

#quarto5-slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-08-29\ at\ 07.12.082\ \(1\).jpeg);    
}

#quarto5-slide6 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/20210504_1236222.jpg);   
    background-position: center center;   
}

/*quarto1-standard, quarto2-semi luxo, quarto3-chale, quarto4-semiluxo sacada, quarto5-luxo*/
.quarto1 .quarto2, .quarto3, .quarto4, .quarto5, .quarto1-descricao, .quarto2-descricao, .quarto3-descricao, .quarto4-descricao, .quarto5-descricao {
    width: 100%;
    height: 23rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;        
}

.quarto1, .quarto1-descricao {
    height: 20rem;
    width: 100%;
}

.quarto2, .quarto2-descricao {
    height: 21.5rem;
}

.quarto1-descricao-texto h5, .quarto2-descricao-texto h5, .quarto3-descricao-texto h5, .quarto4-descricao-texto h5, .quarto5-descricao-texto h5 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gilda Display', serif;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2a2c36;  
    padding: 0 40px;     
}

.quarto1-descricao-texto p, .quarto2-descricao-texto p, .quarto3-descricao-texto p, .quarto4-descricao-texto p, .quarto5-descricao-texto p {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    color: #818181;
    font-size: 16px;   
    padding: 0 40px;
}

.quarto1-descricao-icones, .quarto2-descricao-icones, .quarto3-descricao-icones, .quarto4-descricao-icones, .quarto5-descricao-icones {
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: left;
    align-items: left;  
    margin-top: 10px;  
   /* background-color: aqua;*/
}

.icones1-col1, .icones1-col2, .icones2-col1, .icones2-col2, .icones3-col1, .icones3-col2, .icones4-col1, .icones4-col2, .icones5-col1, .icones5-col2 {
    width: 50%;
    height: 12rem;
    /*background-color: #636363;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}    

.icones1-col1, .icones2-col1, .icones3-col1, .icones4-col1, .icones5-col1 {
    padding-left: 40px;
}

/*frigobar*/
.quarto1-icone, .quarto2-icone, .quarto3-icone, .quarto4-icone, .quarto5-icone {
    width: 100%;
    height: 4rem;
    /*background-color: #7e6d4c;*/
    position: relative;    
}

.quarto2-icone p, .quarto3-icone p, .quarto4-icone p, .quarto5-icone p {
    position: absolute;
    top: -25px;
}

.quarto1-descricao-icones p, .quarto2-descricao-icones p, .quarto3-descricao-icones p, .quarto4-descricao-icones p, .quarto5-descricao-icones p, .tv, .quarto1-icone p {
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: #2a2c36;
    font-weight:normal;
    padding-left: 42px;
    position: relative;
    bottom: 18px;    
}    

.quarto1-descricao-icones i, .quarto2-descricao-icones i, .quarto3-descricao-icones i, .quarto4-descricao-icones i, .quarto5-descricao-icones i {
    font-size: 28px;
    color: #C6AD8C;    
}

.rodape {
    width: 100%;
    height: 23rem;
    background-color: #04110e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 3rem;     
    padding: 0 40px;
}

.rodape-conteudo {
    width: 100%;
    height: 20rem;
  /* background-color: #39a78d;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2px;
    position: absolute;
    top: 50px;   
}

.rodape-logo {
    width: 150px;
    height: 16vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    top: -38px; 
    z-index: 10;   
}

.rodape-contato {
    width: 100%;
    height: 7rem; 
    /*background-color: #7a5a1a;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;    
}

.rodape-localizacao, .rodape-email, .rodape-fones {
    width: 100%;
    height: 6rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  /* background-color: blue;*/
}

.rodape-fones {
    gap: 25px;
}

.rodape-localizacao > i {
   position: relative;
   top: -5px;
   font-size: 14px;
}

.rodape-telefone > i {
    font-size: 14px;
}

.rodape-email > i {
    position: relative;
    top: -2px;
    font-size: 14px;
}

.rodape-idiomas {
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
 /* background-color: #21973f; */
   padding: 5px;
}

.idiomas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac; 
    margin-top: 1px;   
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    line-height: 10px;
    text-decoration: none;
    color: #c3c3ac;    
    text-align: center;
}

.rodape-localizacao a:hover, .rodape-whatsapp a:hover, .rodape-telefone a:hover, .rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 100%;
    height: 4rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
    color: #ffffff;
  /* background-color: #921515; */
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    padding: 0 20px;
 }

.rodape-redes-sociais i {
    font-size: 20px;
    color: #c3c3ac;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

.rodape-copyrigth {
    width: 100%;
    height: 2.2rem;
    background-color: #030c09;
    position: absolute;
    bottom: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;   
}

.rodape-copyrigth > h6 {
    margin-top: 10px;
}

/*tablet*/
@media (min-width: 768px) {
.hero {
    height: 70vh;
}

.cabecalho a, .cabecalho i {
    text-decoration: none;
    font-size: 13.5px; 
    color: #ffffff;   
}

#zap-cabecalho {
    font-size: 16px;
}

.cabecalho-superior {      
    margin: 3px; 
    margin-bottom: 25px;                    
}

.telefones {
    padding-bottom: 0;
}

.menu-btn > i {
    font-size: 27px;
    color: #2a2c36; 
}

.logo {
    width: 190px;
    height: 18vh; 
    position: fixed;         
    z-index: 101;  
} 

.navbar {       
    padding-top: 29.8rem;       
}

.acomodacoes {
    height: 249.2rem;
    margin-top: 5rem;    
    padding: 0 2rem;
  /*  background-color: #04110e;*/
}

.acomodacoes-texto {
    height: 18.5rem;   
    padding:0;     
    font-size: 17px;   
   /* background-color: #2a2c36;   */ 
}

.acomodacoes-texto h3 {
    font-size: 40px;  
    margin-bottom: 20px;   
    margin-top: -10px; 
}

.standard, .semi-luxo, .chale, .semi-luxo-sacada, .luxo {    
    position: relative;   
    margin-top: 5rem; 
    /*background-color: aqua;*/
}

.standard-carousel, .semi-luxo-carousel, .chale-carousel, .sl-sacada-carousel, .luxo-carousel {
    width: 100%;
    height: 23rem;   
}

#quarto1-slide1,#quarto1-slide2, #quarto1-slide3,#quarto1-slide4, #quarto1-slide5, #quarto2-slide1,#quarto2-slide2, #quarto2-slide3,#quarto2-slide4,#quarto2-slide5, #quarto3-slide1,#quarto3-slide2, #quarto3-slide3,#quarto3-slide4, #quarto3-slide5, #quarto3-slide6, #quarto4-slide1,#quarto4-slide2, #quarto4-slide3,#quarto4-slide4, #quarto4-slide5,#quarto5-slide1,#quarto5-slide2, #quarto5-slide3,#quarto5-slide4, #quarto5-slide5, #quarto5-slide6 {
    height: 23rem;      
}

/*quarto1-standard, quarto2-semi luxo, quarto3-chale, quarto4-semiluxo sacada, quarto5-luxo*/
.quarto1, .quarto2, .quarto3, .quarto4, .quarto5, .quarto1-descricao, .quarto2-descricao, .quarto3-descricao, .quarto4-descricao, .quarto5-descricao {
    height: 19rem;  
   /* background-color: blue;     */ 
}

.quarto1, .quarto1-descricao {
    height: 15.7rem;
}

.quarto2, .quarto2-descricao, .quarto3, .quarto3-descricao, .quarto4, .quarto4-descricao {
    height: 17rem;
}

.quarto3, .quarto3-descricao {    
    margin-top: 1rem;
}

.quarto1-descricao-texto h5, .quarto2-descricao-texto h5, .quarto3-descricao-texto h5, .quarto4-descricao-texto h5, .quarto5-descricao-texto h5 {
    font-size: 27px;     
}

.quarto1-descricao-texto p, .quarto2-descricao-texto p, .quarto3-descricao-texto p, .quarto4-descricao-texto p, .quarto5-descricao-texto p {
    font-size: 17px;   
}

.quarto1-descricao-icones, .quarto2-descricao-icones, .quarto3-descricao-icones, .quarto4-descricao-icones, .quarto5-descricao-icones {
    height: 10rem;    
}

.icones1-col1, .icones1-col2, .icones2-col1, .icones2-col2, .icones3-col1, .icones3-col2, .icones4-col1, .icones4-col2, .icones5-col1, .icones5-col2 {
    height: 10rem;    
}    

.quarto1-descricao-icones p, .quarto2-descricao-icones p, .quarto3-descricao-icones p, .quarto4-descricao-icones p, .quarto5-descricao-icones p, .tv, .quarto1-icone p {
    font-size: 17px;   
}    

.quarto1-descricao-icones i, .quarto2-descricao-icones i, .quarto3-descricao-icones i, .quarto4-descricao-icones i, .quarto5-descricao-icones i {
    font-size: 30px;      
}

.quarto1-icone p {
    position: absolute;
    top: 7px;
}

.quarto2-icone p, .quarto3-icone p, .quarto4-icone p, .quarto5-icone p {
    position: absolute;
    top: 8px;
}

.rodape {
    margin-top: 5rem;
}

}

@media (min-width: 992px) {

    header, .cabecalho{
        width: 100%;
        height: 6.5rem;
    } 

    .cabecalho a, .cabecalho i {           
        font-size: 14px;            
    }

    .cabecalho-inferior {
        height: 4rem;          
    }
    
    .cabecalho-superior {     
        height: 2rem;               
        justify-content: space-between;            
        flex-direction: row;
        padding: 0 6rem;  
        margin: 0;   
        margin-bottom: 5px;                    
    }

    .cabecalho-superior a, .cabecalho-superior i {
        margin-top: 6px;
    }

    .telefones {
        padding-bottom: 0;
    }
        
    #zap-cabecalho {
        font-size: 17px;
    } 
    
    .logo {
        width: 240px;
        height: 20vh;                                 
        margin-top: 3px;
        position: absolute; 
        top: 50%;   
        left: 50%;
        transform: translate(-50%, -50%);               
    }        
       
    .menu-btn {           
        display: none;   
        overflow: hidden;         
    }

    .navbar, .navbar > ul {
        width: 100%;
        height: 4rem;
        padding-top: 0rem;
        display: flex;  
        justify-content:left;
        align-items: center;
        gap:40px;                       
        padding: 0 2rem;           
    }
              
    .navbar > ul > li > a {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;              
        padding: 0px;    
        font-size: 14px;          
    }
    
    .navbar > ul > li > a:hover {
        color: #ffffff;  
        background-color: #b19879;
    }
    
    .nav-item1 {
        margin-left: 110px;
    }
    
    .nav-item4 {
        margin-left: 300px;            
    }   
    
    .hero {
        height: 100vh;
    }

    .hero-texto {
        width: 100%;
        height: 15rem;
         display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column;  
       /* background-color: #2a2c36;*/
    }
    
    .hero-texto > h1 {
        font-size: 40px;        
        line-height: 100px;        
        padding-top: 30px;         
    }
    
    .hero-texto > h2 {
        font-size: 35px;         
    }

    .acomodacoes {
        width: 100%;
        height: auto;
     /* background-color: #d35106;    */
        margin-top: 5rem; 
        padding: 0 6rem;
    }
    
    .acomodacoes-texto {       
        height: 19rem;        
        text-align: justify;        
        letter-spacing: 1px;    
        padding: 0;   
        font-size: 20px; 
       /* background-color: #030c09;   */
    }   

    .acomodacoes-texto h3 {
        font-size: 42px;
        margin-bottom: 20px; 
        margin-top: -10px;            
    }    
    
    .standard, .semi-luxo, .chale, .semi-luxo-sacada, .luxo{        
        height: 32rem;            
        flex-direction: row; 
        gap: 5rem;   
     /*   background-color: #2a2c36;*/
        margin-top: 5rem;
        padding: 0;              
    } 
     
    .standard-carousel, .semi-luxo-carousel, .chale-carousel, .sl-sacada-carousel, .luxo-carousel {
        width: 80%;
        height: 32rem; 
        position: absolute;       
    }

   .semi-luxo-carousel, .sl-sacada-carousel {
    left: 24.6rem;
   }
   
   .carousel-indicators {
    position: absolute; 
    color: #ffffff;
    left: -12.9rem;
   }

    #quarto1-slide1, #quarto1-slide2, #quarto1-slide3, #quarto1-slide4, #quarto1-slide5, #quarto2-slide1, #quarto2-slide2, #quarto2-slide3,#quarto2-slide4,#quarto2-slide5, #quarto3-slide1,#quarto3-slide2, #quarto3-slide3,#quarto3-slide4, #quarto3-slide5, #quarto3-slide6, #quarto4-slide1,#quarto4-slide2, #quarto4-slide3,#quarto4-slide4, #quarto4-slide5,#quarto5-slide1,#quarto5-slide2, #quarto5-slide3,#quarto5-slide4, #quarto5-slide5, #quarto5-slide6 {
       height: 32rem;
       width: 80%;    
   }

/*quarto1-standard, quarto2-semi luxo, quarto3-chale, quarto4-semiluxo sacada, quarto5-luxo*/
   .quarto1, .quarto2, .quarto3, .quarto4, .quarto5, .quarto1-descricao, .quarto2-descricao, .quarto3-descricao, .quarto4-descricao, .quarto5-descricao {
       width: 25rem;
       height: 28rem;
       display: block;
       position: absolute;
       right: 2rem; 
    /*   background-color: blue;   */          
   }

   .quarto2, .quarto2-descricao, .quarto4, .quarto4-descricao {
       left: 2rem;    
   }

   .quarto3, .quarto4 {
      background-color: transparent;
   }

   .quarto3, .quarto3-descricao {
       top: 38.9rem;
   }

   .quarto1-descricao-texto h5, .quarto2-descricao-texto h5, .quarto3-descricao-texto h5, .quarto4-descricao-texto h5, .quarto5-descricao-texto h5 {
       font-size: 28px;   
       padding-top: 25px;      
   }   

   .quarto1-descricao-texto p, .quarto2-descricao-texto p, .quarto3-descricao-texto p, .quarto4-descricao-texto p, .quarto5-descricao-texto p {
       font-size: 20px;   
       padding-top: 6px;
   }

   .quarto1-descricao-icones, .quarto2-descricao-icones, .quarto3-descricao-icones, .quarto4-descricao-icones, .quarto5-descricao-icones {
       width: 100%;
       height: 11rem;
       display: flex;
       justify-content: left;
       align-items: left;  
       margin-top: 10px;  
     /* background-color: aqua;*/
   }

   .quarto1-descricao-icones i, .quarto2-descricao-icones i, .quarto3-descricao-icones i, .quarto4-descricao-icones i, .quarto5-descricao-icones i {
        font-size: 30px;
        color: #C6AD8C;    
    }

    .rodape {
        width: 100%;
        height: 18rem;    
        justify-content: space-between;    
        flex-direction: row;     
        margin-top: 5rem;     
        padding: 0;        
    }

    .rodape-conteudo {
        width: 100%;
        height: 12rem;    
        align-items: flex-start;
        flex-direction: row;
        gap:40px;
        position: relative;  
        top:0; 
    }

    .rodape-logo {
       width: 240px;
       height: 20vh;    
       top: 15px; 
       left: 7rem;   
    }

    .rodape-contato {
       width: 28%;
       height: 9rem;    
       gap: 15px;    
       margin-left: 19rem;    
    }

    .rodape-idiomas {
       width: 12%;
       height: 9rem;    
    }

    .idiomas {    
       flex-direction: column;    
       gap: 1px;
    }

    .rodape-redes-sociais {
       width: 12%;
       height: 9rem;      
    }

   .rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {    
       font-size: 18px;    
   }

   .rodape-contato a, .rodape-idiomas p {
       font-size: 15px;
   }

   .rodape-idiomas p {
       margin-top: 15px;
   }

   .rodape-redes-sociais i {
       font-size: 25px;
       margin-top: 15px;        
   }

   .rodape-copyrigth {       
       height: 3rem;   
       bottom: 0;       
   }
}





