* {
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;    
}

:target {
    scroll-margin-top: 1em;
}

body {
    width: 100%;
    height: 100vh;  
  /*  background-color: yellow;  */
}

header {
    width: 100%;
    min-height: 41rem;  
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 84px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;   
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/festas-eventos/I\ M\ \(48\ de\ 5412\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cabecalho {
    width: 100%;
    height: 6.5rem;
    background-color:-webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;    
}

.cabecalho a {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 84px;
}

.telefones i {
    font-size: 14px;
}

.telefones #tel {
    font-size: 12px;
}

.cabecalho-superior {
    width: 100%;
    height: 2.5rem;
   /* background-color: rgb(15, 138, 160);*/
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    padding: 0 6rem;
}

.cabecalho-inferior {
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    padding: 0 8rem;
    box-shadow: 3px 0px 2px rgb(145, 143, 143);       
}

.cabecalho-superior a {
    color: #ffffff;
}

.logo {
    
    width: 250px;
    height: 20vh;
    margin-top: 0.4rem;  
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat;  
    position: absolute;  
    top: 3px;
    left: 34rem;
}

.nav1, .nav2 {
   width: 25rem;
   height: 3.9rem;
 /*  background-color: palevioletred;*/
   display: flex;
   gap: 2rem;
   position: absolute;
   top: -23px;
   left: 0;
   list-style: none;
   text-transform: uppercase;  
}

.nav2 {
    justify-content: flex-end;
    left: 43.2rem;
}

.nav-item1, .nav-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    color: #474747;
    height: 3.9rem;
}

.nav-item2 {
    left: -1px;
}

.nav-item1 a:hover,
.nav-item2 a:hover {   
    color: #916632; 
    text-decoration:underline;      
}

.fa-phone {
    font-size: 12px;
}

.cabecalho-texto {
    width: 50rem;
    height: 15rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 250px;
}

.cabecalho-texto h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: bold;
    text-transform: uppercase;
}

.cabecalho-texto h2 {
    font-size: 30px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.4px;
    line-height: 34px;
}

main {
    width: 100%;
    min-height: 229.5rem;
   /* background-color: #a31b1b;   */
    margin-top: 6.5rem;
}

.festas-eventos {
    width: 100%;
    height: 229.5rem;
   /*background-color: rgb(161, 243, 243);*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.festas-eventos-conteudo {
    width: 100%;
    height: 194rem;
    /*background-color: #7e6d4c;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 8rem;
}

.festas-eventos-texto {
    width: 100%;
    height: 21rem;
    background-color: #ffffff;
    text-align: justify;
    color: #818181;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2px;  
}

.festas-eventos-texto h3 {
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1spx;
    text-transform: uppercase;
    color: #2a2c36;
    margin-bottom: 30px; 
    
}

.festas-eventos-tipos {
    width: 100%;
    height: 165rem;
   /* background-color: #f18b8b;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 120px;
    margin-top: 7.5rem;
}

.festas-eventos-casamento, .festas-eventos-aniversario, .festas-eventos-outros {
    width: 90%;
    height: 50rem;
    background-color: #ffffff;
    position: relative;
}

.casamento-foto1, .aniversario-foto1, .outros-foto1, .carousel-inner, .carousel-item {
    width: 100%;
    height: 27rem;
     position: relative;  
   /* background-color: yellowgreen;*/
}

#slide1-casamento {
    background-image: /*-webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), */url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(36555\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide2-casamento {
    background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(3577\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide3-casamento {
    background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(4655\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide4-casamento {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide5-casamento {
    background-image: url(imagens/festas-eventos/I\ M\ \(38\ de\ 5411\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide6-casamento {
    background-image: url(imagens/festas-eventos/I\ M\ \(28\ de\ 5411\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide1-aniversario {
    background-image: url(imagens/festas-eventos/IMG_400411.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide2-aniversario {
    background-image: url(imagens/festas-eventos/IMG_400555.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide3-aniversario {
    background-image: url(imagens/festas-eventos/IMG_40377.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide4-aniversario {
    background-image: url(imagens/festas-eventos/IMG_405111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide1-outros {
    background-image: /*-webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), */url(imagens/festas-eventos/IMG-20220726-WA0010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide2-outros {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00122.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide3-outros {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00177.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide4-outros {
    background-image: url(imagens/festas-eventos/WhatsApp\ Image\ 2022-08-29\ at\ 09.20.000.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.casamento-texto, .aniversario-texto, .outros-texto {
    width: 30rem;
    height: 22rem;
    background-color: #ffffff;
    position: absolute;
    right: 50px;
    bottom: 80px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.3px;
    padding: 25px;
    text-align: justify;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: #818181;
}

.aniversario-texto {
    left: 50px;    
}

.casamento-texto h5, .aniversario-texto h5, .outros-texto h5 {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Gilda Display', serif;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2a2c36;
    padding-bottom: 5px;
}

.casamento-foto2, .outros-video {
    width: 17rem;
    height: 20rem;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.casamento-foto2 {
    background-image: url(imagens/IMG-20220726-WA0015.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.outros-video > video {
   object-fit: cover;
   width: 17rem;
    height: 20rem;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    
}

.aniversario-foto2 {
    width: 17rem;
    height: 20rem;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    right: 50px;  
    background-image: url(imagens/IMG_4006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

.festas-eventos-orcamento {
    width: 100%;
    height: 28rem;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.8)), url(imagens/I\ M\ \(36\ de\ 5411\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    position: relative;
    margin-top: 7rem;
}

.orcamento-texto {
    width: 40rem;
    height: 16rem;
  /*  background-color: yellow;*/
    position: absolute;
    top: 100px;
    right: 8rem;
    color: #ffffff;
}

.orcamento-texto h5 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gilda Display', serif;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: bold;
}

.orcamento-texto p {
    padding-top: 30px;
    padding-left: 100px;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.7px;
    position: relative;
}    

.orcamento-texto-tel {
    position: absolute;
    top: -30px;
    left: 181px;
}

#tel {
    font-size: 17px;
}

.orcamento-texto-email {
    position: absolute;
    top: -62px;
    left: 181px;
}

.orcamento-foto1, .orcamento-foto2, .orcamento-foto3 {
    width: 14rem;
    height: 8rem;
    background-color: #7a5a1a;
    position: absolute;
}

.orcamento-foto1 {
    transform: rotate(340deg);
    top: 50px;
    left: 150px;
    border: 5px solid #ffffff;
    background-image: url(imagens/CASAMENTO\ PUSADA\ 01\ \(140\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.orcamento-foto2 {
    background-color: aquamarine;
    transform: rotate(3deg);
    top: 150px;
    left: 300px;
    border: 5px solid #ffffff;
    background-image: url(imagens/CASAMENTO\ PUSADA\ 01\ \(134\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.orcamento-foto3 {
    background-color: blue;
    transform: rotate(350deg);
    top: 290px;
    left: 240px;
    border: 5px solid #ffffff;
    background-image: url(imagens/CASAMENTO\ PUSADA\ 01\ \(40\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rodape {
    width: 100%;
    height: 15rem;
    background-color: #04110e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 7rem;   
}

.rodape-conteudo {
    width: 100%;
    height: 12.5rem;
    background-color: #04110e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0.2px;
    padding: 0 8rem;
}

.rodape-logo {
    width: 220px;
    height: 17vh;
    background-image:url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    top: 0;
}

.rodape-contato {
    width: 340px;
    height: 12.5rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.rodape-localizacao, .rodape-email, .rodape-whatsapp, .rodape-telefone {
    width: 100%;
    height: 5rem;  
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 5px;
}

.rodape-idiomas {
    width: 200px;
    height: 12.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac;    
    display: flex;
    justify-content: left;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
   margin-top: 1px;
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-decoration: none;
    color: #c3c3ac;    
}

.rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a {
    padding-left: -10px;
}
.rodape-localizacao a:hover {
    color: #7e6d4c;
}
.rodape-whatsapp a:hover {
    color: #7e6d4c;
}
.rodape-telefone a:hover {
    color: #7e6d4c;
}
.rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 200px;
    height: 12.5rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #c3c3ac;   
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    padding: 0 20px;
 }

.rodape-redes-sociais i {
    font-size: 20px;
    color: #c3c3ac;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

.rodape-copyrigth {
    width: 100%;
    height: 2.5rem;
    background-color: #030c09;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;   
}
