* {
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;  
    margin: auto;   
    overflow-x: hidden;
   
}

:target {
    scroll-margin-top: 1em;
}

body  {
    width: 100%;
    height: 100vh;  
    background-color: #ffffff;   
    
}   

header, .cabecalho{
    width: 100%;
    height: 6.5rem;
  /*  background-color: aqua;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Hind', sans-serif;
    position: fixed;
    z-index: 99;  
    margin-top: 5px;     
}

.cabecalho a, .cabecalho i {
    text-decoration: none;
    font-size: 12.5px; 
    color: #ffffff;   
}

.cabecalho-superior {
    width: 100%;
    height: 3rem;
 /*  background-color: rgb(4, 81, 95);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6px;  
}

.telefones {
    padding-bottom: 11px;
}

.cabecalho-inferior {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    box-shadow: 4px 1px 4px rgb(145, 143, 143);    
    display: block;     
}

.navbar-brand{
    width: 160px;
    height: 17vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    position: fixed;
    z-index: 101;
}

.navbar {
    width: 100%;  
    height: 3rem;    
  /* padding-top: 26.3rem;*/
    display: block;  
    background-color: #ffffff; 
    border-bottom: 1px solid #cecdcd;
}

.container-fluid {
    --bs-gutter-x: 0;
    position: absolute;
    top: 0px;   
   /* background-color: #565656;*/
    height: 3rem;
}

.navbar-nav {    
   /* margin-top: 70px;*/
    height: 100vh;
    margin-block-end: 0;
    margin-block-start: 0;
    background-color: #ffffff;  
}

.navbar-nav a {
    text-decoration: none;
    text-align: left;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    color: #2a2c36;
}

.navbar-nav > li > a:hover {
    color: #ffffff;  
    background-color: #b19879;    
}

.navbar-toggler {
    height: 3rem;    
    font-size: 20px;   
   cursor: pointer;
   position: relative;
   background:none;
   border: none;
   font: inherit;
}  

.navbar-toggler-icon {
    font-size: 22px;       
}

.navbar-toggler:focus {
    border-color: none;
    box-shadow: none;
}

.nav-item {
    display: none;
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

.hero {
    width: 100%;
    height: 60vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
    color: #ffffff;  
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/festas-eventos/I\ M\ \(48\ de\ 5412\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     
}

.hero-texto {
    width: 100%;
    height: 15rem;
     display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
  /*  background-color: #2a2c36;*/
}

.hero-texto > h1 {
    font-size: 31px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;    
    text-shadow:1px  rgb(43, 43, 43); 
    padding-top: 100px;         
}

.hero-texto > h2 {
    font-size: 27px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.4px;
   /* line-height: 34px;*/
    margin-top: 20px;    
    text-align: center;
    text-shadow:1px solid rgb(43, 43, 43);    
}

.festas-eventos {
    width: 100%;
    height: 223.1rem;
   /* background-color: rgb(127, 214, 214);*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.festas-eventos-conteudo {
    width: 100%;
    height:auto;
   /* background-color: #7e6d4c;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;    
    padding: 0 40px;
}

.festas-eventos-texto {
    width: 100%;
    height: /*33rem;*/auto;
   /* background-color: #f31818;*/
    text-align: justify;
    color: #818181;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 5rem;  
    margin-bottom: -1rem;  
}

.festas-eventos-texto h3 {
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2a2c36;   
    margin-top: -8px;     
}

.festas-eventos-texto h2 {
    font-size: 29px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.4px;
   /* line-height: 34px;*/
    margin-top: 25px;    
    text-align: center;
    text-shadow:1px solid rgb(43, 43, 43);    
}

.festas-eventos-tipos {
    width: 100%;
    height: auto;
 /* background-color: #f18b8b;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5rem; 
    margin-top: 4.5rem;   
    
}

.festas-eventos-casamento, .festas-eventos-aniversario, .festas-eventos-outros {
    width: 100%;
    height: 48.4rem;
   /* background-color: #6d441f;*/
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;    
}

.festas-eventos-outros {
    height: 51.4rem;
}
.festas-eventos-aniversario {
    height: 48.9rem;
}

.casamento-foto1, .aniversario-foto1, .outros-foto1, .carousel-inner, .carousel-item {
    width: 100%;
    height: 18rem;
     position: relative;  
   /* background-color: yellowgreen;*/
}

  
#slide1-casamento {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(20, 20, 20, 0.3)), url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(36555\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide2-casamento {
    background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(3577\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide3-casamento {
    background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 01\ \(4655\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide4-casamento {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00155.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide5-casamento {
    background-image: url(imagens/festas-eventos/I\ M\ \(38\ de\ 5411\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide6-casamento {
    background-image: url(imagens/festas-eventos/I\ M\ \(28\ de\ 5411\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide1-aniversario {
    background-image: url(imagens/festas-eventos/IMG_400411.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide2-aniversario {
    background-image: url(imagens/festas-eventos/IMG_400555.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide3-aniversario {
    background-image: url(imagens/festas-eventos/IMG_40377.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide4-aniversario {
    background-image: url(imagens/festas-eventos/IMG_405111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slide1-outros {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA0010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide2-outros {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00122.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide3-outros {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00177.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide4-outros {
    background-image: url(imagens/festas-eventos/WhatsApp\ Image\ 2022-08-29\ at\ 09.20.000.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.casamento-texto, .aniversario-texto, .outros-texto {
    width: 100%;
    height: /*22rem;*/auto;
   /* background-color: #9c0101;*/
    font-family: 'Barlow Condensed', sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    color: #818181;
    font-size: 16px;   
    margin-top: 1rem;
}

.casamento-texto h5, .aniversario-texto h5, .outros-texto h5 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gilda Display', serif;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2a2c36;    
}

.casamento-foto2, .aniversario-foto2, .outros-video > video {
    width: 100%;
    height: 12rem;
   /* background-color: blueviolet;*/
    position: absolute;
    bottom: 0;   
}

.casamento-foto2 {
    background-image: url(imagens/festas-eventos/IMG-20220726-WA00111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.outros-video > video {
    object-fit: cover;
    left: 0;      
}
 
 .aniversario-foto2 {
     background-image: url(imagens/festas-eventos/IMG_40066mini.jpg);
     background-repeat: no-repeat;
     background-size: cover;        
 }
 
 .festas-eventos-orcamento {
     width: 100%;
     height: 20rem;
     background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.8)), url(imagens/festas-eventos/I\ M\ \(36\ de\ 5411\).jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom center;
     position: relative;
     margin-top: 5rem;
 }
 
 .orcamento-texto {
     width: 50%;
     height: 16rem;
     /*background-color: rgb(68, 68, 16);*/
     color: #ffffff;     
     position: absolute;
     top: 31px;
     right: 5px;     
     bottom: 31px;
 }
 
 .orcamento-texto h5 {
     font-size: 20px;
     font-weight: bold;
     font-family: 'Gilda Display', serif;
     letter-spacing: 0.5px;
     text-align: center;
     font-weight: bold;
     margin-top: 23px;
 }
 
 .orcamento-texto p {
     padding-top: 10px;
     padding-left: 5px;
     font-size: 14px;
     font-family: 'Barlow Condensed', sans-serif;
     letter-spacing: 0.7px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2px;  
 }    

.orcamento-texto-whatsapp, .orcamento-texto-tel, .orcamento-texto-email {
    margin-top: -15px;   
}

.orcamento-texto-email > i {
    margin-top: 1px;
}
 
 #tel-orcamento {
     font-size: 14px;
     text-align: center;
 } 
 
 .orcamento-foto1, .orcamento-foto2, .orcamento-foto3 {
     width: 26%;
     height: 6rem;
    /* background-color: #7a5a1a;*/
     position: absolute;
 }
 
 .orcamento-foto1 {
     transform: rotate(340deg);
     top: 35px;
     left: 15px;
     border: 5px solid #ffffff;
     background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 011\ \(140\).jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 }
 
 .orcamento-foto2 {
     /*background-color: aquamarine;*/
     transform: rotate(3deg);
     top: 105px;
     left: 100px;
     border: 5px solid #ffffff;
     background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 011\ \(134\).jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 }
 
 .orcamento-foto3 {
    /* background-color: blue;*/
     transform: rotate(350deg);
     top: 195px;
     left: 25px;
     border: 5px solid #ffffff;
     background-image: url(imagens/festas-eventos/CASAMENTO\ PUSADA\ 011\ \(40\).jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 }
 
  
 .rodape {
    width: 100%;
    height: 23rem;
    background-color: #04110e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 5rem;     
    padding: 0 40px;
}

.rodape-conteudo {
    width: 100%;
    height: 20rem;
  /* background-color: #39a78d;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2px;
    position: absolute;
    top: 50px;   
}

.rodape-logo {
    width: 150px;
    height: 16vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    top: -38px; 
    z-index: 10;   
}

.rodape-contato {
    width: 100%;
    height: 7rem; 
    /*background-color: #7a5a1a;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;    
}

.rodape-localizacao, .rodape-email, .rodape-fones {
    width: 100%;
    height: 6rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
   /* background-color: blue;*/
}

.rodape-fones {
    gap: 25px;
}

.rodape-localizacao > i {
   position: relative;
   top: -5px;
   font-size: 14px;
}

.rodape-telefone > i {
    font-size: 14px;
}

.rodape-email > i {
    position: relative;
    top: -2px;
    font-size: 14px;
}

.rodape-idiomas {
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  /* background-color: #21973f; */
   padding: 5px;
}

.idiomas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac; 
    margin-top: 1px;   
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    line-height: 10px;
    text-decoration: none;
    color: #c3c3ac;    
    text-align: center;
}

.rodape-localizacao a:hover, .rodape-whatsapp a:hover, .rodape-telefone a:hover, .rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 100%;
    height: 4rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
    color: #ffffff;
   /* background-color: #921515; */
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    padding: 0 20px;
 }

.rodape-redes-sociais i {
    font-size: 20px;
    color: #c3c3ac;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

.rodape-copyrigth {
    width: 100%;
    height: 2.2rem;
    background-color: #030c09;
    position: absolute;
    bottom: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;   
}

.rodape-copyrigth > h6 {
    margin-top: 10px;
}

/*tablet*/
@media (min-width: 768px) {
    .hero {
        height: 80vh;
    }
    
    .cabecalho a, .cabecalho i {
        text-decoration: none;
        font-size: 13.5px; 
        color: #ffffff;   
    }
    
    #zap-cabecalho {
        font-size: 16px;
    }
    
    .cabecalho-superior {      
        margin: 3px; 
        margin-bottom: 25px;                        
    }
    
    .telefones {
        padding-bottom: 0;
    }   
    
    .cabecalho-inferior {        
        height: 3.5rem;        
    }

    .navbar-brand{
        width: 195px;
        height: 18vh;          
        margin-top: 63px;      
    }    
    
    .navbar {        
        height: 3.5rem;         
    }
    
    .container-fluid {      
        height: 3.5rem;
    }

    .navbar-nav a {
        text-decoration: none;
        text-align: left;
        font-family: 'Hind', sans-serif;
        font-size: 14.3px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 18px;
        color: #2a2c36;
    }
    
    .navbar-toggler {
        height: 3.5rem;    
        font-size: 20px;   
       cursor: pointer;
       position: relative;
       background:none;
       border: none;
       font: inherit;
    }  
    
    .navbar-toggler-icon {
        font-size: 22px;
    }
    
    .nav-item5 {
        display: none;
    }

    .hero-texto > h1 {
        font-size: 34px;   
    }
    
    .hero-texto > h2 {
        font-size: 30px;       
    }
    
    .festas-eventos {
        width: 100%;
        height: 193.7rem;
       /* background-color: rgb(127, 214, 214);   */
    }
    
    .festas-eventos-conteudo {      
        height:auto;
     /*  background-color: #7e6d4c;  */   
        gap: 0;
        padding: 0 2rem;
    }

    .festas-eventos-texto {       
        height: auto;            
        font-size: 17px;        
        margin-top: 5rem; 
       /* background-color: #6d441f;  */ 
    }
    
    .festas-eventos-texto h3 {
        font-size: 40px;        
        margin-top: -10px; 
        margin-bottom: 20px;    
    }    
    
    .festas-eventos-tipos {       
    /*   background-color: #f18b8b;     */
        gap: 5rem;    
        margin-top: 4.5rem;
    }

    .festas-eventos-casamento, .festas-eventos-aniversario, .festas-eventos-outros {
        width: 100%;
        height: 43rem;
    /*   background-color: #6d441f;   */     
        gap: 0;
        position: relative;
    }    

    .festas-eventos-outros {
        height: 44rem;
    }

    .casamento-foto1, .aniversario-foto1, .outros-foto1, .carousel-inner, .carousel-item {
        width: 100%;
        height: 24rem;
         position: relative;  
       /* background-color: yellowgreen;*/
    }

    .casamento-texto, .aniversario-texto, .outros-texto {
        width: 57%;
        height: auto;
        background-color: #ffffff;     
        font-size: 17px;   
        position: absolute;
        right: 1.5rem;
        top: 21rem;
        padding: 0 15px;
    }
    
    .aniversario-texto {
      /*  height: 16rem; */
        left: 1.5rem;      
    }  

    .casamento-texto h5, .aniversario-texto h5, .outros-texto h5 {
        font-size: 27px;    
        padding-top: 10px;    
    }
    
    .casamento-foto2, .aniversario-foto2, .outros-video > video {
        width: 33%;
        height: 17rem;
       /* background-color: blueviolet;*/    
        bottom: 0rem; 
        left:1.5rem;  
    }

    .aniversario-foto2 {
        left: 28.5rem;
    }

    .festas-eventos-orcamento {        
        height: 24rem;        
        margin-top: 5rem;
    }
    
    .orcamento-texto {       
        height: 15rem;
      /* background-color: rgb(68, 68, 16);  */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 11.5rem;       
    }
    
    .orcamento-texto h5 {
        font-size: 23px;        
    }
    
    .orcamento-texto p {      
        font-size: 17px;        
    }    
   
   .orcamento-texto-whatsapp, .orcamento-texto-tel, .orcamento-texto-email {
       margin-top: -15px;       
   }  
    
    #tel-orcamento {
        font-size: 14px;
        text-align: center;
    } 
    
    .orcamento-foto1, .orcamento-foto2, .orcamento-foto3 {
        width: 19%;
        height: 6rem;      
    }

    .orcamento-foto1 {        
        top: 27px;
        left: 55px;       
    }
    
    .orcamento-foto2 {       
        top: 103px;
        left: 150px;        
    }
    
    .orcamento-foto3 {       
        top: 185px;
        left: 65px; 
        transform: rotate(355deg);      
    }
    
    .rodape {       
       margin-top: 5rem;       
   }
}  

@media (min-width: 992px) {

    header, .cabecalho{
        width: 100%;
        height: 7rem;
        margin-top: 0;
    } 

    .cabecalho a, .cabecalho i {           
        font-size: 14px;            
    }
    
    .cabecalho-superior {     
        height: 3rem;               
        justify-content: space-between;            
        flex-direction: row;
        padding: 0 6rem;  
        margin: 0;   
        margin-bottom: 5px;                    
    }

    .cabecalho-superior a, .cabecalho-superior i {
        margin-top: 6px;
    }

    .telefones {
        padding-bottom: 0;
    }
        
    #zap-cabecalho {
        font-size: 17px;
    } 
    
    .cabecalho-inferior {
        width: 100%;
        height: 4rem;
        background-color: #ffffff;
        box-shadow: 4px 1px 4px rgb(145, 143, 143);  
        display: flex;          
    }

    .navbar-brand {
        width: 240px;
        height: 20vh;                                 
        margin-top: 30px;
        position: absolute; 
        top: 50%;   
        left: 50%;
        transform: translate(-50%, -50%);               
    }            
       
    .navbar {
        width: 100%;       
       display: flex; 
        height: 4rem;           
    }
    
    .container-fluid {
        height: 4rem;
        display: flex;
    }

    .collapse {
     height: 4rem;  
     display: flex;
     padding: 0 2rem;     
    }

    .navbar-nav {
        width: 100%;
        height: 3.9rem;  
       display: flex;       
        align-items: center;
        justify-content: space-between;            
    }

    .nav-item a {
        color: #2a2c36;           
    }
    
    .nav-item1 {
        margin-left: 20px;
    }
    
    .nav-item {
        padding: 0 20px;
        display: flex;  
        margin-left: 80px;             
    }  
    
    .nav-item10{
        margin-right: 18px;
    }

    .navbar-nav > li > a:hover {
        height: 4rem;
        display: flex;
        align-items: center;       
    } 

    .hero {
        height: 100vh;
    }

    .hero-texto {
        width: 100%;
        height: 15rem;
         display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column;  
       /* background-color: #2a2c36;*/
    }
    
    .hero-texto > h1 {
        font-size: 50px;        
        line-height: 100px;        
        padding-top: 30px;         
    }
    
    .hero-texto > h2 {
        font-size: 43px;   
        margin-top: 50px;      
    }

    .festas-eventos {       
        height: auto;
      /*  background-color: rgb(127, 214, 214);   */
    }
    
    .festas-eventos-conteudo {      
        height:auto;       
        padding: 0 6rem;
    }

    .festas-eventos-texto {       
        height: 18rem;            
        font-size: 20px;        
        margin-top: 5rem; 
     /* background-color: rgb(10, 65, 65);  */ 
    }
    
    .festas-eventos-texto h3 {
        font-size: 42px; 
        margin-top: -10px;            
    }    
    
    .festas-eventos-tipos {       
     /* background-color: #f18b8b;     */
        gap: 5rem;    
        margin-top: 6rem;
    }

    .festas-eventos-casamento, .festas-eventos-aniversario, .festas-eventos-outros {
        width: 90%;
        height: 60rem;
      /* background-color: #6d441f;  */   
        gap: 0;
        position: relative;
    }    

    .casamento-foto1, .aniversario-foto1, .outros-foto1, .carousel-inner, .carousel-item {
        width: 100%;
        height: 30rem;
         position: relative;     
    }

    .casamento-texto, .aniversario-texto, .outros-texto {  
        width: 51%;     
        height: 19rem;
        background-color: #ffffff;     
        font-size: 20px;            
        top: 26.5rem;       
    }
    
    .aniversario-texto {
        height: 18rem;           
    }
    
    .outros-texto {
        height: 19.5rem;
    }

    .casamento-texto h5, .aniversario-texto h5, .outros-texto h5 {
        font-size: 30px;    
        padding-top: 15px;    
    }
    
    .casamento-foto2, .aniversario-foto2, .outros-video > video {
        width: 31%;
        height: 21rem;       
    }

    .aniversario-foto2 {
        left: 42.8rem;
    }

    .festas-eventos-orcamento {        
        height: 27rem;        
        margin-top: 5rem;
    }
    
    .orcamento-texto {   
        width: 41%;    
        height: 19rem; 
        margin-left: 18.5rem;              
    }
    
    .orcamento-texto h5 {
        font-size: 36px;        
    }
    
    .orcamento-texto p {      
        font-size: 22px;        
    }    
      
    #tel-orcamento {
        font-size: 18px;       
    } 
    
    .orcamento-foto1, .orcamento-foto2, .orcamento-foto3 {
        width: 17%;
        height: 9rem;      
    }

    .orcamento-foto1 {        
        top: 42px;
        left: 125px;       
    }
    
    .orcamento-foto2 {       
        top: 136px;
        left: 330px;        
    }
    
    .orcamento-foto3 {       
        top: 269px;
        left: 205px;       
    }

    .rodape {
        width: 100%;
        height: 18rem;    
        justify-content: space-between;    
        flex-direction: row;     
        margin-top: 5rem;     
        padding: 0;        
    }

    .rodape-conteudo {
        width: 100%;
        height: 12rem;    
        align-items: flex-start;
        flex-direction: row;
        gap:40px;
        position: relative;  
        top:0; 
    }

    .rodape-logo {
       width: 240px;
       height: 20vh;    
       top: 15px; 
       left: 7rem;   
    }

    .rodape-contato {
       width: 28%;
       height: 9rem;    
       gap: 15px;    
       margin-left: 19rem;    
    }

    .rodape-idiomas {
       width: 12%;
       height: 9rem;    
    }

    .idiomas {    
       flex-direction: column;    
       gap: 1px;
    }

    .rodape-redes-sociais {
       width: 12%;
       height: 9rem;      
    }

   .rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {    
       font-size: 18px;    
       font-weight: normal;
   }

   .rodape-contato a, .rodape-idiomas p {
       font-size: 15px;
   }

   .rodape-idiomas p {
       margin-top: 15px;
   }

   .rodape-redes-sociais i {
       font-size: 25px;
       margin-top: 15px;        
   }

   .rodape-copyrigth {       
       height: 3rem;   
       bottom: 0;       
   }

}
  
    
    
    
    
    
    

