
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;     
     
}

/*:target {
    scroll-margin-top: 1em;
}
*/
body  {
    width: 100%;
    height: 100vh;  
    background-color: #ffffff;      
}    

header, .cabecalho{
    width: 100%;
    height: 8rem;
    /* background-color: aqua;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Hind', sans-serif;
    position: fixed;
    z-index: 99;      
}

.cabecalho a, .cabecalho i {
    text-decoration: none;
    font-size: 12.5px; 
    color: #ffffff;   
}

.cabecalho-superior {
    width: 100%;
    height: 3rem;
   /* background-color: rgb(4, 81, 95);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: 15px 0;    
}

.telefones {
    padding-bottom: 11px;
}

.cabecalho-inferior {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    box-shadow: 3px 0px 2px rgb(145, 143, 143); 
    display: flex;   
    justify-content: center;
    align-items: center; 
    position: relative;  
}

.logo {
    width: 160px;
    height: 17vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
    position: fixed;
    z-index: 101;
}

.menu-btn {
    width: 100%;
    height: 2rem;
   /* background-color: #05fc1d;*/
    position: absolute;
    display: block;
    padding-left: 30px;
    padding-top: 4px;   
}

.menu-btn > i {
    font-size: 25px;
    color: #2a2c36; 
}

.navbar {
    width: 100%;
    height: auto;
    padding-top: 26.2rem;
    display: none;  
    /*background-color: blueviolet; */  
}

.navbar > ul {
    list-style: none;   
    padding-left: 0;
}

.navbar > ul > li > a {
    display: block;
    width: 100%;    
    background-color: #ffffff;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2a2c36;    
}

.navbar > ul > li > a:hover {
    color: #ffffff;  
    background-color: #b19879;
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

.hero {
    width: 100%;
    height: 60vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
    color: #ffffff;  
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/galeria/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.244.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     
}

.hero-texto {
    width: 100%;
    height: 15rem;
     display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
    /*background-color: #2a2c36;*/
}

.hero-texto > h1 {
    font-size: 31px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;    
    text-shadow:1px  rgb(43, 43, 43); 
    padding-top: 100px;         
}

.hero-texto > h2 {
    font-size: 27px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.4px;
   /* line-height: 34px;*/
    margin-top: 20px;    
    text-align: center;
    text-shadow:1px solid rgb(43, 43, 43);    
}

.galeria {
    width: 100%;
    height: 104rem;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;   
    margin-top: 5rem; 
  /*  padding: 0 40px;*/ 
  overflow-y: hidden;
}

.blocoa, .blocob, .blococ, .blocod, .blocoe {
    width: 100%;
    height: 20.9rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative; 
    background-color: #ffffff;      
}

.blocob, .blocod {   
    flex-direction: column;
    position: relative; 
   /* margin-top: 6px;*/
}
.blocod {
    margin-top: 6px;
}

.blocoa-l1, .blocoa-l2, .blococ-l1, .blococ-l2, .blocoe-l1, .blocoe-l2 {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;     
    position: relative;
    margin-top: 6px;
}

.blocoa-l1 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  /*  gap:6px;*/
}

.blococ-l2 {
    flex-direction: row-reverse;
    position: relative;    
}

.img1, .img21 {
    width: 25%;
    height: 10rem;
    position: absolute;
    left: 0%;
    background-color: rgb(228, 114, 137);    
}

.img2, .img12, .img22 {
    width: 36%;
    height: 10rem;   
    position: absolute;
    left: 109px;  
    background-color: aquamarine;
}

.img3, .img23 {
    width: 36%;
    height: 10rem;
    position: absolute;
    right: 0;
    background-color: beige;   
}

#imagem1, #imagem2, #imagem3, #imagem4, #imagem5, #imagem6, #imagem7, #imagem9, #imagem10, #imagem11, #imagem12, #imagem13, #imagem14, #imagem15, #imagem16, #imagem17, #imagem19, #imagem20, #imagem21, #imagem22, #imagem23, #imagem24, #imagem25 {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

#imagem6, #imagem7, #imagem9, #imagem10, #imagem16, #imagem17, #imagem19, #imagem20 {
    height: 10.77rem;
}

#imagem8, #imagem18 {
    width: 100%;
    height: 20.7rem;
    object-fit: cover;
}

.img4, .img14, .img24 {
    width: 59.2%;
    height: 10rem;   
    position: absolute;
    left: 0;
}

.img5, .img15, .img25 {
    width: 39%;
    height: 10rem;   
    position: absolute;
    right: 0;
}

 .img6, .img9, .img16, .img19 {
    width: 35.4%;
    height: 9.6rem;    
    position: absolute;
    top:0;
 }

 .img7, .img10, .img17, .img20 {
    width: 35.4%;
    height: 9.6rem;
    position: absolute;
    bottom: 0;    
 }

 .img8, .img18 {
    width: 26%;
    height: 20.7rem;   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

 .img9, .img19 {    
    right: 0;    
 }

 .img10, .img20 {
    right: 0;    
 }

 .img11 {
    width: 36%;
    height: 10rem;   
    position: absolute;
    left: 0;       
 }

 .img12 {
    left: 154.5px;
 }

 .img13 {
    width: 25%;
    height: 10rem;
    position: absolute;
    right: 0%;   
 }

 .img14 {
    width: 39%;
 }

 .img15 {
    width: 59.2%;
 }

.rodape {
    width: 100%;
    height: 23rem;
    background-color: #04110e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 5rem;     
    padding: 0 40px;
}

.rodape-conteudo {
    width: 100%;
    height: 20rem;
  /* background-color: #39a78d;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2px;
    position: absolute;
    top: 50px;   
}

.rodape-logo {
    width: 150px;
    height: 16vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    top: -38px; 
    z-index: 10;   
}

.rodape-contato {
    width: 100%;
    height: 7rem; 
    /*background-color: #7a5a1a;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;   
}

.rodape-localizacao, .rodape-email, .rodape-fones {
    width: 100%;
    height: 6rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
   /* background-color: blue;*/
}

.rodape-fones {
    gap: 25px;
}

.rodape-localizacao > i {
   position: relative;
   top: -5px;
   font-size: 14px;
}

.rodape-telefone > i {
    font-size: 14px;
}

.rodape-email > i {
    position: relative;
    top: -2px;
    font-size: 14px;
}

.rodape-idiomas {
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  /* background-color: #21973f; */
   padding: 5px;
}

.idiomas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac; 
    margin-top: 1px;   
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    line-height: 10px;
    text-decoration: none;
    color: #c3c3ac;    
    text-align: center;
}

.rodape-localizacao a:hover, .rodape-whatsapp a:hover, .rodape-telefone a:hover, .rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 100%;
    height: 4rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
    color: #ffffff;
   /* background-color: #921515; */
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    padding: 0 20px;
 }

.rodape-redes-sociais i {
    font-size: 20px;
    color: #c3c3ac;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

.rodape-copyrigth {
    width: 100%;
    height: 2.2rem;
    background-color: #030c09;
    position: absolute;
    bottom: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;   
}

.rodape-copyrigth > h6 {
    margin-top: 10px;
}

.modal, .modal-dialog {
    border-radius: 0%;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img1, .modal-img1a, .modal-img2, .modal-img3, .modal-img4, .modal-img5, .modal-img6, .modal-img7, .modal-img9, .modal-img10, .modal-img11, .modal-img12, .modal-img13, .modal-img14, .modal-img15, .modal-img16, .modal-img17, .modal-img19, .modal-img20, .modal-img21, .modal-img22, .modal-img23, .modal-img24,  .modal-img25 {
    width: /*47.8rem*/100%;
    height: /*27rem;*/auto;
    object-fit: cover;    
}

.modal-img23 {
    object-position: top center;
}

.modal-img8, .modal-img18 {
    width: /*45rem;*/100%;
    height:/* 45rem;*/20rem;
    object-fit: cover; 
    overflow: auto;
}

.btn-close:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

/*tablet*/
@media (min-width: 768px) {
    .hero {
        height: 70vh;
    }
    
    .cabecalho a, .cabecalho i {
        text-decoration: none;
        font-size: 13.5px; 
        color: #ffffff;   
    }
    
    #zap-cabecalho {
        font-size: 16px;
    }
    
    .cabecalho-superior {      
        margin: 3px; 
        margin-bottom: 25px;                    
    }
    
    .telefones {
        padding-bottom: 0;
    }
    
    .menu-btn > i {
        font-size: 27px;
        color: #2a2c36; 
    }
    
    .logo {
        width: 190px;
            height: 18vh; 
            position: fixed;         
            z-index: 101; 
            top: 1px; 
    } 
    
    .navbar {       
        padding-top: 29.8rem;       
    }

    .galeria {       
        height: 124.4rem;          
        padding: 0 2rem;    
    }
    
    .blocoa, .blocob, .blococ, .blocod, .blocoe {        
        height: 24.8rem;       
       background-color: #ffffff;       
    }    

    .blocoa-l1, .blocoa-l2, .blococ-l1, .blococ-l2, .blocoe-l1, .blocoe-l2 {       
        height: 12rem;
        transition: all 0.2s;       
    }   

    .img1, .img21 {
        width: 25%;
        height: 12rem;        
        background-color: rgb(228, 114, 137);  
        transition: all .2s;  
    }
    
    .img2, .img12, .img22 {
        width: 36.55%;
        height: 12rem;          
        left: 181px;  
        background-color: aquamarine;
        transition: all .2s;
    }
    
    .img3, .img23 {
        width: 36.55%;
        height: 12rem;       
        background-color: beige;  
        transition: all .2s;     
    }
    
    #imagem1, #imagem2, #imagem3, #imagem4, #imagem5, #imagem6, #imagem7, #imagem9, #imagem10, #imagem11, #imagem12, #imagem13, #imagem14, #imagem15, #imagem16, #imagem17, #imagem19, #imagem20, #imagem21, #imagem22, #imagem23, #imagem24, #imagem25 {        
        height: 12rem;     
        transition: all 0.2s;  
    }
    
    #imagem6, #imagem7, #imagem9, #imagem10, #imagem16, #imagem17, #imagem19, #imagem20 {
        height: 12.77rem;
    }
    
    #imagem8, #imagem18 {       
        height: 24.7rem;              
    }
    
    .img4, .img14, .img24 {
        width: 59.1%;
        height: 12rem;
        background-color: #7e6d4c;  
        transition: all .2s;     
    }
    
    .img5, .img15, .img25 {
        width: 39.75%;
        height: 12rem;
        background-color: #0f9e7d;
        transition: all .2s;      
    }
    
    .img6, .img9, .img16, .img19 {
        width: 35.78%;
        height: 11.66rem;
        background-color: #565656;
        transition: all .2s;        
    }
    
    .img7, .img10, .img17, .img20 {
        width: 35.78%;
        height: 11.66rem;       
        background-color: azure;
        transition: all .2s;
    }
    
    .img8, .img18 {
        width: 26%;
        height: 24.7rem;
        transition: all .5s;
        background-color: rgb(52, 235, 195);            
    }        
    
    .img11 {
        width: 36%;
        height: 12rem;         
        background-color: rgb(13, 107, 76);
        transition: all .2s;
    }
    
    .img12 {
        left: 259.9px;
    }
    
    .img13 {
        width: 25%;
        height: 12rem;        
        background-color: rgb(228, 114, 137);
        transition: all .2s;
    }
    
    .img14 {
        width: 39.5%;
    }
    
    .img15 {
        width: 59.2%;
    }    

    .img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover, .img7:hover, .img9:hover, .img10:hover, .img11:hover, .img12:hover, .img13:hover, .img14:hover, .img15:hover, .img16:hover, .img17:hover, .img19:hover, .img20:hover, .img21:hover, .img22:hover, .img23:hover, .img24:hover, .img25:hover {
        transition: all 0.2s;
        transform: scale(0.98);
    }  
    
    .modal-img1, .modal-img1a, .modal-img2, .modal-img3, .modal-img4, .modal-img5, .modal-img6, .modal-img7, .modal-img9, .modal-img10, .modal-img11, .modal-img12, .modal-img13, .modal-img14, .modal-img15, .modal-img16, .modal-img17, .modal-img19, .modal-img20, .modal-img21, .modal-img22, .modal-img23, .modal-img24,  .modal-img25 {
        width: 100%;
        height: 20rem;         
    }        

    .modal-img8, .modal-img18 {
        width: 100%;
        height: 34rem;
        object-fit: cover; 
    }    
}

@media (min-width: 992px) {

    header, .cabecalho{
        width: 100%;
        height: 6.5rem;
    } 

    .cabecalho a, .cabecalho i {           
        font-size: 14px;            
    }

    .cabecalho-inferior {
        height: 4rem;          
    }
    
    .cabecalho-superior {     
        height: 2rem;               
        justify-content: space-between;            
        flex-direction: row;
        padding: 0 6rem;  
        margin: 0;   
        margin-bottom: 5px;                    
    }

    .cabecalho-superior a, .cabecalho-superior i {
        margin-top: 6px;
    }

    .telefones {
        padding-bottom: 0;
    }
        
    #zap-cabecalho {
        font-size: 17px;
    } 
    
    .logo {
        width: 240px;
        height: 20vh;                                 
        margin-top: 3px;
        position: absolute; 
        top: 50%;   
        left: 50%;
        transform: translate(-50%, -50%);               
    }        
       
    .menu-btn {           
        display: none;   
        overflow: hidden;         
    }

    .navbar, .navbar > ul {
        width: 100%;
        height: 4rem;
        padding-top: 0rem;
        display: flex;  
        justify-content:left;
        align-items: center;
        gap:40px;                       
        padding: 0 2rem;           
    }
              
    .navbar > ul > li > a {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;              
        padding: 0px;    
        font-size: 14px;          
    }
    
    .navbar > ul > li > a:hover {
        color: #ffffff;  
        background-color: #b19879;
    }
    
    .nav-item1 {
        margin-left: 110px;
    }
    
    .nav-item4 {
        margin-left: 300px;            
    }   
    
    .hero {
        height: 100vh;
    }

    .hero-texto {
        width: 100%;
        height: 15rem;
         display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: column;  
       /* background-color: #2a2c36;*/
    }
    
    .hero-texto > h1 {
        font-size: 50px;        
        line-height: 100px;        
        padding-top: 30px;         
    }
    
    .hero-texto > h2 {
        font-size: 40px;         
    }

    .galeria {        
        height: 167.7rem;          
        padding: 0 6rem;   
       /* background-color: rgb(129, 126, 126);   */
    }
    
    .blocoa, .blocob, .blococ, .blocod, .blocoe {       
        height: 32.7rem;    
       /* background-color: #04110e; */
        margin-bottom: 11px;        
    }
    
    .blocob {
        height: 33.4rem;
    }

    .blocod {      
     /*   background-color: blue;  */     
        margin-top: 1px;
        height: 33.4rem;
    }    

    .blocoe {
        margin-bottom: 0;
    }

    .blocoa-l1, .blocoa-l2, .blococ-l1, .blococ-l2, .blocoe-l1, .blocoe-l2 {      
        height: 16rem;  
        margin-top: 0;            
    }
    
    .blocoa-l1, .blococ-l1, .blocoe-l1 {       
        margin-bottom: 11px;      
    }   
    
    .img1, .img21 {
        width: 25.8%;
        height: 16rem;       
      /*  background-color: rgb(228, 114, 137);   */ 
    }
    
    .img2, .img12, .img22 {
        width: 36.10%;
        height: 16rem;         
        left: 308px;  
      /* background-color: aquamarine;*/
    }
    
    .img3, .img23 {
        width: 36.10%;
        height: 16rem;       
       /* background-color: beige;  */     
    }
        
    .img4, .img14, .img24 {
        width: 59%;
        height: 16rem;
        /*background-color: #7e6d4c;*/       
    }
    
    .img5, .img15, .img25 {
        width: 40%;
        height: 16rem;
     /*   background-color: #0f9e7d;*/      
    }
    
     .img6, .img9, .img16, .img19 {
        width: 36.6%;
        height: 16.35rem;
        position: absolute;
        top:0
      /*  background-color: #565656;*/       
     }
    
     .img7, .img10, .img17, .img20 {
        width: 36.6%;
        height: 16.35rem; 
        position: absolute; 
        bottom: 0;     
       /* background-color: azure;*/
     }
    
     .img8, .img18 {
        width: 25%;
        height: 33.4rem;
      /*  background-color: rgb(52, 235, 195);*/       
     }
    
     .img11 {
        width: 36.1%;
        height: 16rem;           
       /* background-color: rgb(13, 107, 76);*/
     }
    
     .img12 {
        left: 426.4px;
     }
    
     .img13 {
        width: 25.8%;
        height: 16rem;       
       /* background-color: rgb(228, 114, 137);*/
     }
    
    .img14 {
        width: 39.9%;
    }

    .img15 {
        width: 59%;
    }

     #imagem1, #imagem2, #imagem3, #imagem4, #imagem5, #imagem6, #imagem7, #imagem9, #imagem10, #imagem11, #imagem12, #imagem13, #imagem14, #imagem15, #imagem16, #imagem17, #imagem19, #imagem20, #imagem21, #imagem22, #imagem23, #imagem24, #imagem25 {        
        height: 16rem;       
    }
    
    #imagem6, #imagem7, #imagem9, #imagem10, #imagem16, #imagem17, #imagem19, #imagem20 {
        height: 16.35rem;
        object-fit: cover;
    }
    
    #imagem8, #imagem18 {       
        height: 33.4rem;       
    }

     .rodape {
        width: 100%;
        height: 18rem;    
        justify-content: space-between;    
        flex-direction: row;     
        margin-top: 5rem;     
        padding: 0;        
    }

    .rodape-conteudo {
        width: 100%;
        height: 12rem;    
        align-items: flex-start;
        flex-direction: row;
        gap:40px;
        position: relative;  
        top:0; 
    }

    .rodape-logo {
       width: 240px;
       height: 20vh;    
       top: 15px; 
       left: 7rem;   
    }

    .rodape-contato {
       width: 28%;
       height: 9rem;    
       gap: 15px;    
       margin-left: 19rem;    
    }

    .rodape-idiomas {
       width: 12%;
       height: 9rem;    
    }

    .idiomas {    
       flex-direction: column;    
       gap: 1px;
    }

    .rodape-redes-sociais {
       width: 12%;
       height: 9rem;      
    }

   .rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {    
       font-size: 18px;    
    }

   .rodape-contato a, .rodape-idiomas p {
       font-size: 15px;
   }

   .rodape-idiomas p {
       margin-top: 15px;
   }

   .rodape-redes-sociais i {
       font-size: 25px;
       margin-top: 15px;        
   }

   .rodape-copyrigth {       
       height: 3rem;   
       bottom: 0;       
   }

   .modal-img1, .modal-img1a, .modal-img2, .modal-img3, .modal-img4, .modal-img5, .modal-img6, .modal-img7, .modal-img9, .modal-img10, .modal-img11, .modal-img12, .modal-img13, .modal-img14, .modal-img15, .modal-img16, .modal-img17, .modal-img19, .modal-img20, .modal-img21, .modal-img22, .modal-img23, .modal-img24,  .modal-img25 {
    width: 47.8rem;
    height: 27rem;
    object-fit: cover;    
}    
    
}
    
