* {
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    scroll-behavior: smooth;    
}

:target {
    scroll-margin-top: 1em;
}

body, main, .carousel, .carousel-inner, .carousel-item  {
    width: 100%;
    height: 100vh;  
    background-color: #ffffff; 
    position: relative;     
}

header, .cabecalho{
    width: 100%;
    height: 8rem;
    /* background-color: aqua;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Hind', sans-serif;
    position: fixed;
    z-index: 99;   
}

.cabecalho a, .cabecalho i {
    text-decoration: none;
    font-size: 12.5px; 
    color: #ffffff;   
}

.cabecalho-superior {
    width: 100%;
    height: 3rem;
 /*  background-color: rgb(4, 81, 95);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: 15px 0;    
}

#zap-cabecalho {
    font-size: 13.7px;
}

.telefones {
    padding-bottom: 11px;
}

.cabecalho-inferior {
    width: 100%;
    height: 3rem;
    background-color: #ffffff;
    box-shadow: 3px 0px 2px rgb(145, 143, 143); 
    display: flex;   
    justify-content: center;
    align-items: center; 
    position: relative;
}

.logo {
    width: 160px;
    height: 17vh;     
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    position: fixed;
    z-index: 101;
    /*position: absolute; 
    top: -16px;   
    z-index: 99;*/
}

.menu-btn {
    width: 100%;
    height: 2rem;
   /* background-color: #05fc1d;*/
    position: absolute;
    display: block;
    padding-left: 30px;
    padding-top: 4px;   
}

.menu-btn > i {
    font-size: 25px;
    color: #2a2c36; 
}

.navbar {
    width: 100%;
    height: auto;
   padding-top: 30.6rem;
    display: none; 
    z-index: 100; 
    
   /* background-color: blueviolet;*/
}

.navbar > ul {
    list-style: none;   
    padding-left: 0;
    height: 26rem;
}

.navbar > ul > li > a {
    display: block;
    width: 100%;       
    background-color: #ffffff;
    padding: 19px;    
    text-decoration: none;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2a2c36;    
}

.navbar > ul > li > a:hover {
    color: #ffffff;  
    background-color: #caae8c;
}

.container-fluid {
    width: 90%;
    height: 32rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;   
    position: relative;
    margin-top: 150px;    
    color: #ffffff;    
}

#slide1-texto, #slide2-texto, #slide3-texto, #slide4-texto, #slide5-texto, #slide6-texto, #slide7-texto {
    width: 100%;
    height: 30rem;
     display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
   /* background-color: black;*/
}

#slide1-texto > h1, #slide2-texto > h1, #slide3-texto > h1, #slide4-texto > h1, #slide5-texto > h1, #slide6-texto > h1, #slide7-texto > h1 {
    font-size: 31px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;    
    text-shadow:1px  rgb(43, 43, 43);   
    margin-top: 5px; 
} 

#slide1-texto > h2, #slide2-texto > h2, #slide3-texto > h2, #slide4-texto > h2, #slide5-texto > h2, #slide6-texto > h2, #slide7-texto > h2 {
    font-size: 29px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 0.4px;
   /* line-height: 34px;*/
    margin-top: 25px;    
    text-align: center;
    text-shadow:1px solid rgb(43, 43, 43);    
}

#slide1-texto > p, #slide2-texto > p, #slide3-texto > p, #slide4-texto > p, #slide5-texto > p, #slide6-texto > p, #slide7-texto > p {
    font-size: 15.5px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    letter-spacing: 0.4px;
    /*line-height: 34px;*/    
    text-align: center;
    padding: 10px;
    text-shadow:1px solid rgb(43, 43, 43);   
    margin-top: 25px;  
}

.saibamais {
    width: 7rem;
    height: 2.3rem;
   /* background-color: rgb(65, 122, 122);*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: 1px solid #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 190px;             
}

.saibamais a {
    width: 94%;
    height: 85%;
    background-color: #b19879;
    border-radius: 23px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300; 
    display: flex;
    justify-content: center;
    align-items: center;      
}

.redes-sociais {
    width: 100%;
    height: 2rem;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    margin-top: 34px;
   /*background-color: #2a2c36;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}   

.redes-sociais a {   
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    color: #ffffff;   
}

.pulsar  {
    width: 2rem;
    height: 2rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2px;
    top: 0px;
    border-radius: 50%; 
}

.pulsar:before , .pulsar::after {
    content: "";
    display: block;
    position: absolute;
    left: -20%;
    right: -20%;
    top: -20%;
    bottom: -20%;
    border-radius: 50%;
    border: 1px solid #ffffff;
    animation: animar 1.5s linear infinite;
}

.pulsar::after {
    animation-delay: .5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;    
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;   
    }
}

#slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.4)), url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.471.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

#slide2 {
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/20200327_12033922.jpg);*/
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(20, 20, 20, 0.3)), url(imagens/acomodacoes/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.2022.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/festas-eventos/I\ M\ \(48\ de\ 5412\).jpg);
  /* background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/20211012_1807477.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/galeria/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.244.jpeg);
   /* background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201010_1923111.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide5 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(20, 20, 20, 0.4)), url(imagens/reservas/WhatsApp\ Image\ 2022-07-03\ at\ 15.11.000.jpeg);
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201010_1923111.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

#slide6 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/cidade/IMG-20220726-WA00148.jpg);
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201010_1923111.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#slide7 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/contato/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.500.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {

    main {
        margin: auto;
    }

    .cabecalho a, .cabecalho i {
        text-decoration: none;
        font-size: 13.5px; 
        color: #ffffff;   
    }

    #zap-cabecalho {
        font-size: 16px;
    }

    .cabecalho-superior {      
        margin: 3px; 
        margin-bottom: 25px;                    
    }
    
    .telefones {
        padding-bottom: 0;
    }
    
    .menu-btn > i {
        font-size: 27px;
        color: #2a2c36; 
    }

    .logo {
        width: 190px;
        height: 18vh; 
        position: fixed;         
        z-index: 101; 
        top: 21px; 
    } 
    
    .navbar {       
        padding-top: 30.7rem;       
    }

    #slide1-texto, #slide2-texto, #slide3-texto, #slide4-texto, #slide5-texto, #slide6-texto, #slide7-texto {
        height: 20rem;       
    }

    #slide1-texto > h1, #slide2-texto > h1, #slide3-texto > h1, #slide4-texto > h1, #slide5-texto > h1, #slide6-texto > h1, #slide7-texto > h1 {
        font-size: 32px;         
        margin-top: 12px; 
    } 
    
    #slide1-texto > h2, #slide2-texto > h2, #slide3-texto > h2, #slide4-texto > h2, #slide5-texto > h2, #slide6-texto > h2, #slide7-texto > h2 {
        font-size: 30px;        
    }
    
    #slide1-texto > p, #slide2-texto > p, #slide3-texto > p, #slide4-texto > p, #slide5-texto > p, #slide6-texto > p, #slide7-texto > p {
        font-size: 17px;        
    }

    .saibamais {       
       margin-top: 100px;          
    }
    
    .redes-sociais {        
        margin-top: 50px;       
    }  
    }    

    @media (min-width: 992px) {

        header, .cabecalho{
            width: 100%;
            height: 6.5rem;
        } 

        .cabecalho a, .cabecalho i {           
            font-size: 14px;            
        }

        .cabecalho-inferior {
            height: 4rem;          
        }
        
        .cabecalho-superior {     
            height: 2rem;               
            justify-content: space-between;            
            flex-direction: row;
            padding: 0 6rem;  
            margin: 0;   
            margin-bottom: 5px;                    
        }

        .cabecalho-superior a, .cabecalho-superior i {
            margin-top: 6px;
        }

        .telefones {
            padding-bottom: 0;
        }
            
        #zap-cabecalho {
            font-size: 17px;
        } 
        
        .logo {
            width: 240px;
            height: 20vh;                                 
            margin-top: 3px;
            position: absolute; 
            top: 50%;   
            left: 50%;
            transform: translate(-50%, -50%);               
        }        
           
        .menu-btn {           
            display: none;   
            overflow: hidden;         
        }

        .navbar, .navbar > ul {
            width: 100%;
            height: 4rem;
            padding-top: 0rem;
            display: flex;  
            justify-content:left;
            align-items: center;
            gap:40px;                       
            padding: 0 2rem;           
        }
                  
        .navbar > ul > li > a {
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;              
            padding: 0px;    
            font-size: 14px;          
        }
        
        .navbar > ul > li > a:hover {
            color: #ffffff;  
            background-color: #b19879;
        }

        .nav-item1 {
            margin-left: 110px;
        }
        
        .nav-item4 {
            margin-left: 300px;            
        }    
        
        #slide1-texto > h1, #slide2-texto > h1, #slide3-texto > h1, #slide4-texto > h1, #slide5-texto > h1, #slide6-texto > h1, #slide7-texto > h1 {
            font-size: 40px;           
        } 
        
        #slide1-texto > h2, #slide2-texto > h2, #slide3-texto > h2, #slide4-texto > h2, #slide5-texto > h2, #slide6-texto > h2, #slide7-texto > h2 {
            font-size: 35px;        
        }
        
        #slide1-texto > p, #slide2-texto > p, #slide3-texto > p, #slide4-texto > p, #slide5-texto > p, #slide6-texto > p, #slide7-texto > p {
            font-size: 20px;         
                      
        }
        
        .saibamais {
            width: 7.3rem;
            height: 2.6rem;                   
        }   

        .saibamais a {            
            font-size: 18.5px;           
        }

        .redes-sociais {
            width: 100%;
            height: 2rem;
            /*position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);*/
            margin-top: 50px;
           /*background-color: #2a2c36;  */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
        }   
        
        .redes-sociais a {   
            font-family: 'Kanit', sans-serif;
            font-size: 27px;
            color: #ffffff;   
        }
    }

    /*
    .redes-sociais {
        width: 100%;
        height: 2rem;
        background-color: blueviolet;
        /*position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 178px;     
    }   
    
    .face, .insta, .zapzap {
        width: 4rem;
        height: 4rem;
        background-color: chartreuse;
    }
    .redes-sociais a {
        margin: 0 45px;
        font-family: 'Kanit', sans-serif;
        font-size: 24px;
        color: #ffffff;
        margin-right: 40px; 
    }
    
   /* .pulsar  {
        width: 2rem;
        height: 2rem;
       background-color: #8f0a0a;
        display: flex;
        justify-content: center;
        align-items: center;
        
      /*  margin-left: 30px;
    }
    
    .pulsar:before , .pulsar::after {
        content: "";
        display: block;
        position: absolute;
        left: -20%;
        right: -20%;
        top: -20%;
        bottom: -20%;
        border-radius: 50%;
        border: 1px solid #ffffff;
        animation: animar 1.5s linear infinite;
    }
}
/*main {
    width: 100%;
    min-height: 380rem;
 /* background-color: blueviolet;   
    margin:auto;
}

.sobre {
    width: 100%;
    height: 56.5rem;
   /* background-color: #f58e8e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
    margin-top: 3rem;         
}

.sobre-conteudo {
    width: 100%;
    height: 56.5rem;
   /* background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    position: relative;
    padding: 0 40px;
}

.sobre-texto {
    width: 100%;
    height: 31.5rem;
   /* background-color: brown;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #8d8d8d;
    line-height: 25px;   
    text-align: justify;    
}

.sobre-texto h3 {
    font-size: 38px;
    color: #2a2c36;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -7px;     
}

.sobre-texto h2 {
    font-family: 'Gilda Display', serif;
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
    color: #565656;
}

.sobre-img {
    width: 100%;
    height: 25rem;
   /* background-color: rgb(183, 131, 231);
    position: relative;
    padding: 0 40px;    
    object-fit: cover;
}

.sobre-img1, .sobre-img2 {
    width: 48%;
    height: 250px;
    position: absolute;    
}

.sobre-img1 {
    left: 0;
    top: 150px;
   /* background-color: blue;
    background-image: url(imagens/home/20201030_1357499.jpg);
    background-size: cover;    
}

.sobre-img2 {
    position: absolute;
   /* background-color: yellow;
    right:0;
    top: 40px;
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-08\ at\ 12.12.31.jpeg);
    background-size: cover;
}

.reserva {
    width: 100%;
    height: 4rem;
   /* background-color: chocolate;
    position: relative;
}

.reserva p {
    position: absolute;
    left: 50px;
    top: 40px
    font-size: 18px;
}

.reserva h5 {
    font-size: 21px;
    color: #6a5134;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.reserva i {
    font-size: 36px;
    transform: rotate(20deg);
    position: absolute;
    top: 12px;
    left: 4px;
    color: #C6AD8C;    
}

.acomodacoes {
    width: 100%;
    height: 144.6rem;
   /* background-color: #f1b54d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:45px;
    flex-direction: column; 
    margin-top: 6rem;     
    position: relative;
}

.acomodacoes > h3 {
    width: 100%;
    height: 3rem;
   /* background-color: #6a5134;
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;  
    padding: 0 40px; 
    color: #2a2c36;      
}

.acomodacoes-tipos {
    width: 100%;
    height: 136.8rem;
   /* background-color: #565656;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 45px;  
   /* margin-top: 20px; 
}

.acomodacoes-linha1, .acomodacoes-linha2 {
    width: 100%;
    height: 80.8rem;
    /*background-color: #05fc1d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    flex-wrap: wrap;
}

.acomodacoes-linha2 {
    height: 53rem;
}

.acomodacoes-tipo1, .acomodacoes-tipo2, .acomodacoes-tipo3, .acomodacoes-tipo4, .acomodacoes-tipo5 {
    width: 100%;
    height: 25rem;
   /* background-color: rgb(113, 165, 165);
    background-size: cover; 
    transition: all 0.2s;
}

.acomodacoes-tipo1 {
     background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.471.jpeg);
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.471.jpeg);
     background-size: cover;
     background-position: center center;    
 }
 
 .acomodacoes-tipo1:hover, .acomodacoes-tipo2:hover, .acomodacoes-tipo3:hover, .acomodacoes-tipo4:hover, .acomodacoes-tipo5:hover {
     transition: 0.2s;
     transform: scale(1.05);
 }
 
 .acomodacoes-tipo2 {
     background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.561.jpeg);
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.561.jpeg);
     background-size: cover;
     background-position: center center;   
 }
 
 .acomodacoes-tipo3 {
     background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.311.jpeg);
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.311.jpeg);
     background-size: cover;
     background-position: center center;     
 }
 
 .acomodacoes-tipo4 {
     background-image: url(imagens/20201028_151257.jpg);
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201028_151257.jpg); 
     background-size: cover;
     background-position: bottom center;   
    /* overflow: hidden;
 }
 
 .acomodacoes-tipo5 {
     background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.18.jpeg);
     background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.18.jpeg); 
     background-size: cover;
     background-position: top center;
 }

 .quarto {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   /* background-color: #f8acac;
    margin-top: 20.5rem;
    padding: 0 40px;   
}

.quarto a {
    font-size: 27px;
    font-family: 'Gilda Display', serif;
    color: #ffffff;
    text-decoration: none;   
    text-align: center;
}

.video-pousada, .video-entrada-pousada {
   /* background-color: #ffffff;
    width: 100%;
    height: 25rem;      
    position: relative; 
    margin-top: 6rem;
}

.video-entrada-pousada > video {
    position: absolute;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.nossos-servicos {
    width: 100%;
    height: 107rem;
  /*  background-color: #743939;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    gap: 28px;
    position: relative; 
    margin-top: 6rem;    
}

.nossos-servicos > h3{
    width: 100%;
    height: 3rem;
   /* background-color: #6a5134;
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase; 
    color: #2a2c36; 
    
}

.tipos-servicos1, .tipos-servicos2 {
    width: 100%;
    height: 53rem;
   /* background-color: rgb(138, 138, 201);
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap: 45px;
    flex-wrap: wrap;
    margin-top: 20px;   
}

.estacionamento, .piscina, .wifi, .cafe-manha, .playground, .frigobar {
    width: 100%;
    height: 220px;
    /*background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     gap: 10px;
    padding: 18px;
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    color: #636363;
    border: 0.5px solid #e9e9e9;
    position: relative;
}

.estacionamento i, .piscina i, .wifi i, .cafe-manha i, .playground i, .frigobar i {
    font-size: 37px;
    color: #C6AD8C;
}

.playground img {
    width: 68px;
    height: 68px;    
}

.estacionamento h4, .piscina h4, .wifi h4, .cafe-manha h4, .playground h4, .frigobar h4 {
    font-size: 24px;
    font-family: 'Gilda Display', serif;
    color: #222222;
}

#servicos:hover {
    /*background-color: #04110e;
    border: 1px solid #b1aeae;
    color: #C6AD8C;
}

.icone {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  background-color: red;
}

.balanco{
    position: absolute;
    top: 12px;
}

#frigobar {
    position: absolute;
    width: 44px;
    height: 44px;
}

.texto {
    width: 100%;
    height: 120px;
    /*background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estacionamento-titulo {
    position: absolute;
    top: 95px;
}

.faca-sua-reserva {
    width: 100%;
    height: 23rem;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/20210504_1238066.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 6.1rem;
 /*   background-color: #04110e;  
}

.faca-reserva {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    color:#ffffff;
    padding: 0 40px;
}

.faca-reserva-texto {
    width:100%;
    height: 9rem;
  /*  background-color: aqua;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 20px;
    padding-top: 25px;
    letter-spacing: 1px;
    margin-top: .6rem;
    font-family: 'Gilda Display', serif;
}

.faca-reserva-telefone {
    width: 100%;
    height: 9rem;
    background-color: #ffffff;
  /*  position: absolute;
    padding: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #6a5134;
}

.faca-reserva-telefone p {
    padding-left: 60px;
    color:#838383;
    margin-top: -12px;
}

.faca-reserva-telefone h5 {
    padding-left: 60px;
   margin-top: -12px;
    font-size: 20px;
}

.faca-reserva-telefone i {
    font-size: 30px;
    transform: rotate(20deg);
    position: absolute;
    top: 222px; 
    left: 80px;  
    color: #C6AD8C;  
}

#consulte-precos {
    width: 230px;
    height: 40px;
    position: absolute;
    left: 125px;
    top: 268px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #C6AD8C;
    color: #ffffff;
    border: none;
    border-radius: 0%;
}

.galeria-conteudo {
    width: 100%;
    height: 253.2rem;
    margin-top: 6rem;
    /*background-color: #a87b2c;  
    position: relative;  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 45px;
    padding: 0 40px;
}

.galeria-conteudo > a > h3 {
    width: 100%;
    height: 3rem;
   /* background-color: #6a5134;
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;       
    text-decoration: none;  
    color: #2a2c36;     
}

.galeria-conteudo > a {
   text-decoration: none;
}

.galeria-fotos {
    width: 100%;
    height: 246.9rem;
   /* background-color: #6b6052;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;  
    gap:2rem;     
}

.galeria-fotos-linha1, .galeria-fotos-linha2 {
    width: 100%;
    height: 122.1rem;
    margin-top: 20px;
 /*   background-color: rgb(99, 145, 53);
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap:45px;
}

.galeria-fotos-linha1 {
    margin-top: -10px;    
}

.foto1, .foto5, .foto11, .foto14 {
    width: 402px;
    height: 14rem;
   /* background-color: azure; 
}

.foto2, .foto3, .foto4, .foto7, .foto8, .foto9, .foto10, .foto12, .foto13 {
    width: 402px;
    height: 20rem;    
   /* background-color: aqua;   
}

.foto1 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.444.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover, .foto6:hover, .foto7:hover, .foto9:hover, .foto10:hover, .foto11:hover, .foto12:hover, .foto13:hover, .foto14:hover {
    transition: 0.2s;
    transform: scale(1.03);
    filter: grayscale(1)
}
.foto2 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.3611.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 0.2s;   
}

.foto3 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.322.jpeg);
    background-size: cover;
    background-repeat: no-repeat;   
    transition: all 0.2s;   
}

.foto4 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.481.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}    

.foto5 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.411.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 0.2s;    
}


/*.foto6 {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
    
}

.foto7 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.099.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    top:109rem;
}

.foto9 {
    background-image: url(imagens/home/pousada60.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;    
}

.foto10 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.488\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
    top: 17rem;
}

.foto11 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.46.366.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
    top: 42rem;
}

.foto12 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.5111.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
    top: 67rem;
}

.foto13 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.222.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
    top:92rem;
}

.foto14 {
    background-image: url(imagens/home/20201018_1333144.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    transition: all 0.2s; 
    top:109rem;  
}

.rodape {
    width: 100%;
    height: 38rem;
    background-color: #04110e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 6rem;   
}

.rodape-conteudo {
    width: 100%;
    height: 35rem;
   /* background-color: #04110e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 8px;    
    padding: 0 40px;
}

.rodape-logo {
    width: 210px;
    height: 16.2vh; 
    background-image:url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    top: 0;
}

.rodape-contato {
    width: 100%;
    height: 12rem; 
   /* background-color: #2b1414;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;   
}

.rodape-localizacao, .rodape-email, .rodape-whatsapp, .rodape-telefone {
    width: 100%;
    height: 5rem;  
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 5px;
    font-size: 13px;
    letter-spacing: 0.2px;
}

.rodape-idiomas {
    width: 100%;
    height: 6.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap: 5px;
   /* background-color: #7e6d4c;   
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac;    
    display: flex;
    justify-content: left;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
   margin-top: 2px;
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #c3c3ac;    
}

.rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a {
    padding-left: -10px;
}

.rodape-localizacao a:hover, .rodape-whatsapp a:hover, .rodape-telefone a:hover, .rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 100%;
    height: 6.4rem; 
   /* background-color: #55432b; 
    display: flex;      
    gap: 5px;
    color: #c3c3ac; 
    position: relative;  
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    display: flex;
    justify-content: flex-start;
    align-items: left;      
 }

.rodape-redes-sociais i {
    font-size: 18px;
    color: #c3c3ac; 
    position: absolute;  
    left: 0; 
    top: 40px;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

#instagram-rodape {
    top: 80px;
}

.rodape-copyrigth {
    width: 100%;
    height: 2rem;
    background-color: #030c09;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;   
}



/*.linha1 {
    width: 80px;
    height: 15px;
    /*background-color: red;
    position: absolute;
    top: 31rem;
    left: 40px; 
    border-top: 1px solid #ffffff;    
}

/*.linha2 {
    width: 80px;
    height: 150px;
    background-color: red;
    position: absolute;
    top: 310px;
    left: 15px; 
    border-top: 1px solid #ffffff;    
}
/*header {
    width: 100%;
    min-height: 41rem;  
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 84px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cabecalho {
    width: 100%;
    height: 6.5rem;
    background-color:-webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;    
}

.cabecalho a {
    text-decoration: none;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 84px;
}

.cabecalho-superior {
    width: 100%;
    height: 2.5rem;
   /* background-color: rgb(15, 138, 160);
    display: flex;   
    justify-content: space-between; 
    align-items: center;
    padding: 0 6rem;
}

.cabecalho-inferior {
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
    padding: 0 8rem;
    box-shadow: 3px 0px 2px rgb(145, 143, 143);       
}

.cabecalho-superior a {
    color: #ffffff;
}

.fa-phone {
    font-size: 12px;
}

.logo {
    width: 250px;
    height: 20vh;
    margin-top: 0.4rem;  
    background-image: url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-size: contain;
    background-repeat: no-repeat;  
    position: absolute;  
    top: 3px;
    left: 34rem;
}

.nav1, .nav2 {
   width: 25rem;
   height: 3.9rem;
 /*  background-color: palevioletred;
   display: flex;
   gap: 2rem;
   position: absolute;
   top: -23px;
   left: 0;
   list-style: none;
   text-transform: uppercase;  
   
}

.nav2 {
    justify-content: flex-end;
    left: 43.2rem;
}

.nav-item1, .nav-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    color: #474747;
    height: 3.9rem;
}

.nav-item2 {
    left: -1px;
}

.nav-item1 a:hover,
.nav-item2 a:hover {   
    color: #916632; 
    text-decoration:underline;      
}

.cabecalho-texto {
    width: 50rem;
    height: 15rem;
   /* background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 140px;
}

main {
    width: 100%;
    min-height: 254.2rem;
   /* background-color: blueviolet;
    margin-top: 7rem;
}

.carousel, .carousel-inner, .carousel-item {
    width: 100%;
    height: 41rem;      
    position: relative;
   /* background-color: #05fc1d;   
}    

#slide1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/DSC0198744.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/20200327_12033922.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)), url(imagens/home/20211012_1807477.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201010_1923111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* text css above hero image
.hero_title {
    font-size: 2.2rem;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.4px;
    line-height: 34px;
    margin-top: -30px;
}

.hero_desc {
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 53.5px;
    font-weight: bold;
    text-transform: uppercase;
   /* font-size: 5.5rem;
    font-weight: bold;
    padding-top: 50px;   
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.slide2-texto, .slide3-texto, .slide4-texto {
    font-size: 3.7rem;
    font-weight: bold;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    line-height: 100px;
    text-align: center;
    color:#ffffff;
}

.sobre {
    width: 100%;
    height: 40.5rem;
   /* background-color: #f58e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;        
}

.sobre-conteudo {
    width: 100%;
    height: 40rem;
  /*  background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
}

.sobre-texto {
    width: 40%;
    height: 40rem;
  /*  background-color: brown;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    color: #8d8d8d;
    line-height: 26.3px;
    padding-left: 8rem;
    padding-right: 2rem;
    text-align: justify;
}

.sobre-texto h3 {
    font-size: 60px;
    color: #2a2c36;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-top: -18px;
}

.sobre-texto h2 {
    font-family: 'Gilda Display', serif;
    font-size: 37px;
    line-height: 56.3px;
    padding-bottom: 20px;
    color: #565656;
}

.sobre-img {
    width: 60%;
    height: 40rem;
 /*   background-color: blueviolet;
    position: relative;
    padding-left: 8rem;
    padding-right: 2rem;
    object-fit: cover;
}

.sobre-img1, .sobre-img2 {
    width: 290px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-img1 {
    position: absolute;
    bottom: 5px;
    left: 60px;
   /* background-color: blue;
    background-image: url(imagens/home/20201030_1357499.jpg);
    background-size: cover;    
}

.sobre-img2 {
    position: absolute;
    /*background-color: yellow;
    right: 130px;
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-08\ at\ 12.12.31.jpeg);
    background-size: cover;
}

.reserva {
    width: 25rem;
    height: 6.5rem;
    /*background-color: chocolate;
    position: relative;
}

.reserva p {
    position: absolute;
    left: 50px;
    top: 10px
  /*  font-size: 15px;
}

.reserva h5 {
    font-size: 24px;
    color: #6a5134;
    letter-spacing: 2px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.reserva i {
    font-size: 40px;
    transform: rotate(20deg);
    position: absolute;
    top: 20px;
    left: -5px;
    color: #C6AD8C;    
}

.acomodacoes {
    width: 100%;
    height: 65rem;
   /* background-color: #f1b54d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 7rem;
}

.acomodacoes-titulo {
    width: 100%;
    height: 5rem;
  /*background-color: burlywood;      
    color: #2a2c36;
    display: inline-flex;
    padding-left: 8rem;
    position: relative;
    padding-bottom: 20px;
    
}

.acomodacoes-titulo h3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute; 
       
}

.acomodacoes-linha1 {
    width: 100%;
    height: 30rem;
 /*   background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items:flex-start;
    position: relative;
    padding-left: 8rem;
    padding-right: 8rem;
    bottom: 60px;
    background-size: cover;
}

.acomodacoes-tipo1, .acomodacoes-tipo2, .acomodacoes-tipo3 {
    width: 350px;
    height: 450px;
 /* background-color: #222222;
    background-size: cover; 
    transition: all 0.2s;
}

.acomodacoes-tipo1 {
   /* background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.471.jpeg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.471.jpeg);
    background-size: cover;
    background-position: center center;    
}

.acomodacoes-tipo1:hover, .acomodacoes-tipo2:hover, .acomodacoes-tipo3:hover, .acomodacoes-tipo4:hover, .acomodacoes-tipo5:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.acomodacoes-tipo2 {
   /* background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.561.jpeg);
 background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.41.561.jpeg);
    background-size: cover;
    background-position: center center;   
}

.acomodacoes-tipo3 {
  /*  background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.311.jpeg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.311.jpeg);
    background-size: cover;
    background-position: center center;     
}

.acomodacoes-tipo4 {
 /*   background-image: url(imagens/20201028_151257.jpg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/20201028_151257.jpg); 
    background-size: cover;
    background-position: bottom center;   
}

.acomodacoes-tipo5 {
   /* background-image: url(imagens/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.18.jpeg);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.3)), url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.43.18.jpeg); 
    background-size: cover;
    background-position: top center;
}

.acomodacoes-linha2 {
    width: 100%;
    height: 23rem;
  /*  background-color: rgb(36, 61, 53);
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items:flex-start;
    position: relative;
    padding: 0 8rem;
    bottom: 65px;
}

.acomodacoes-tipo4, .acomodacoes-tipo5 {
    width: 535px;
    height: 350px;
    overflow: hidden;
    transition: all 0.2s;
  /*  background-color: #222222;
}

.quarto {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  /*  background-color: #6a5134;
    position: relative;
}

.quarto-linha1 a:hover {
/*    background-color: rgba(0, 0, 0, 0.6);
}

.quarto-linha1 {
    width: 250px;
    height: 100px;
  /*  background-color: #05fc1d;
    position: absolute;
    top: 350px;
    left: 15px; 
    padding-top: 30px;  
}

.quarto-linha1 a, .quarto-linha2 a {
    font-size: 27px;
    font-family: 'Gilda Display', serif;
    color: #ffffff;
    text-decoration: none;    
}

.quarto-linha2 {
    width: 450px;
    height: 100px;
   /* background-color: #112914;
    position: absolute;
    top: 250px;
    left: 15px;
    padding-top: 30px;
}

.linha1 {
    width: 80px;
    height: 30px;
  /*  background-color: red;
    position: absolute;
    top: 410px;
    left: 15px; 
    border-top: 1px solid #ffffff;    
}

.linha2 {
    width: 80px;
    height: 30px;
  /*  background-color: red;
    position: absolute;
    top: 310px;
    left: 15px; 
    border-top: 1px solid #ffffff;    
}

.detalhes-linha1 a {
    position: absolute;
    right: 10px;
    top: 415px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.detalhes-linha1 i, .detalhes-linha2 i {
    font-size: 14px;
}

.detalhes-linha2 a {
    position: absolute;
    right: 10px;
    top: 315px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.video-pousada, .video-entrada-pousada {
    background-color: #ffffff;
    width: 100%;
    height: 27rem;      
    position: relative; 
    margin-top: 2rem;
}

.video-entrada-pousada > video {
    position: absolute;
    width: 100%;
    height: 27rem;
    object-fit: cover;
}

.nossos-servicos {
    width: 100%;
    height: 44rem;
   /* background-color: #743939;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 8rem;
    position: relative;     
}

.titulo-nossos-servicos h3{
    width: 100%;
    height: 5rem;
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
 /*   background-color: #6a5134;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 1px;
    padding-left: 8rem;
    top: 97px;   
}

.tipos-servicos1, .tipos-servicos2 {
    width: 100%;
    height: 15rem;
   /* background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 102px;
    bottom: 120px;
    cursor: pointer;
}

.estacionamento, .piscina, .wifi, .cafe-manha, .playground, .frigobar {
    width: 350px;
    height: 220px;
 /*   background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   /* gap: 10px;
    padding: 15px;
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1.5px;
    text-align: justify;
    color: #636363;
    border: 0.5px solid #e9e9e9;
    position: relative;
}

.estacionamento i, .piscina i, .wifi i, .cafe-manha i, .playground i, .frigobar i {
    font-size: 40px;
    color: #C6AD8C;
}

.playground img {
    width: 68px;
    height: 68px;    
}

.estacionamento h4, .piscina h4, .wifi h4, .cafe-manha h4, .playground h4, .frigobar h4 {
    font-size: 27px;
    font-family: 'Gilda Display', serif;
    color: #222222;
}

#servicos:hover {
   /* background-color: #04110e;
    border: 1px solid #b1aeae;
   /* color: #C6AD8C;
}

.icone {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: red;
}

.balanco{
    position: absolute;
    top: 12px;
}

#frigobar {
    position: absolute;
    width: 44px;
    height: 44px;
}

.texto {
    width: 100%;
    height: 120px;
  /*  background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estacionamento-titulo {
    position: absolute;
    top: 95px;
}

.estacionamento-paragrafo {
    position: absolute;
    top: 136px;
    left: 15px;
}

.wifi-titulo {
    position: absolute;
    top: 98px;
}

.wifi-paragrafo {
    position: absolute;
    top: 136px;
    left: 15px;
}

.cafe-manha-titulo {
    position: absolute;
    top: 98px;
}

.cafe-manha-paragrafo {
    position: absolute;
    top: 136px;
    left: 15px;
    right: 13px;
}

.faca-sua-reserva {
    width: 100%;
    height: 18rem;
    background-image: url(imagens/home/20210504_1238066.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 6.1rem;
 /*   background-color: #04110e;   
}

.faca-reserva {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    color:#ffffff;
    padding-left: 8rem;
    padding-right: 8rem;
}

.faca-reserva-texto {
    width: 70%;
    height: 15rem;
    /*background-color: aqua;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    font-size: 25px;
    padding-top: 25px;
    letter-spacing: 3px;
    margin-top: 1.6rem;
    font-family: 'Gilda Display', serif;
}

.faca-reserva-telefone {
    width: 40%;
    height: 15rem;
    background-color: #ffffff;
  /*  position: absolute;
    margin-top: 1.6rem;
    padding: 25px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #6a5134;
}

.faca-reserva-telefone p {
    padding-left: 60px;
    color:#838383;
}

.faca-reserva-telefone h5 {
    padding-left: 60px;
    margin-top: -10px;
    font-size: 20px;
}

.faca-reserva-telefone i {
    font-size: 40px;
    transform: rotate(20deg);
    position: absolute;
    top: 70px;   
    color: #C6AD8C;  
}

#consulte-precos {
    width: 280px;
    height: 50px;
    position: absolute;
    right: 184px;
    top: 173px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #C6AD8C;
    color: #ffffff;
    border: none;
    border-radius: 0%;
}

.galeria-conteudo {
    width: 100%;
    height: 44rem;
    padding-top: 120px;   
    padding-bottom: 120px;
   /* background-color: #a87b2c;    
}

.galeria-titulo a {
    width: 100%;
    height: 6rem;    
 /*   background-color: aquamarine;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 0 8rem;
    text-decoration: none;
}

.galeria-titulo h3 {
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2a2c36;
    margin-top: -48px;
}

.galeria-fotos {
    width: 100%;
    height: 30rem;
   /* background-color: #6a5134;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -1px;
}

.galeria-fotos-linha1, .galeria-fotos-linha2 {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  background-color: chartreuse;
}

.foto1, .foto5, .foto11, .foto14 {
    width: 300px;
    height: 15rem;
   /* background-color: azure;
}

.foto2, .foto3, .foto4, .foto7, .foto8, .foto9, .foto10, .foto12, .foto13 {
    width: 187px;
    height: 15rem;
   /* background-color: aqua;
}

.foto1 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.444.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover, .foto6:hover, .foto7:hover, .foto9:hover, .foto10:hover, .foto11:hover, .foto12:hover, .foto13:hover, .foto14:hover {
    transition: 0.2s;
    transform: scale(1.03);
    filter: grayscale(1)
}
.foto2 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.3611.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 0.2s;
}

.foto3 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.42.322.jpeg);
    background-size: cover;
    background-repeat: no-repeat;   
    transition: all 0.2s;
}

.foto4 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.481.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}

.foto5 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.411.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: all 0.2s;
}

/*.foto6 {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto7 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.099.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}

.foto9 {
    background-image: url(imagens/home/pousada60.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto10 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.488\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto11 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.46.366.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto12 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-17\ at\ 13.59.5111.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s;
}

.foto13 {
    background-image: url(imagens/home/WhatsApp\ Image\ 2022-06-16\ at\ 11.44.222.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.foto14 {
    background-image: url(imagens/home/20201018_1333144.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    transition: all 0.2s;   
}

.rodape {
    width: 100%;
    height: 15rem;
    background-color: #04110e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;   
    margin-top: 6.5rem;   
}

.rodape-conteudo {
    width: 100%;
    height: 12.5rem;
    background-color: #04110e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0.2px;
    padding-left: 8rem;
    padding-right: 8rem;
}

.rodape-logo {
    width: 220px;
    height: 17vh;
    background-image:url(imagens/LOGO\ POUSADA-fundobranco.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
    top: 0;
}

.rodape-contato {
    width: 340px;
    height: 12.5rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.rodape-localizacao, .rodape-email, .rodape-whatsapp, .rodape-telefone {
    width: 100%;
    height: 5rem;  
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 5px;
}

.rodape-idiomas {
    width: 200px;
    height: 12.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
    color: #c3c3ac;    
    display: flex;
    justify-content: left;
}

.rodape-localizacao i, .rodape-whatsapp i, .rodape-telefone i, .rodape-email i {
   margin-top: 1px;
}

.rodape-idiomas p, .rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a { 
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-decoration: none;
    color: #c3c3ac;    
}

.rodape-localizacao a, .rodape-whatsapp a, .rodape-telefone a, .rodape-email a {
    padding-left: -10px;
}
.rodape-localizacao a:hover {
    color: #7e6d4c;
}
.rodape-whatsapp a:hover {
    color: #7e6d4c;
}
.rodape-telefone a:hover {
    color: #7e6d4c;
}
.rodape-email a:hover {
    color: #7e6d4c;
}

.rodape-redes-sociais {
    width: 200px;
    height: 12.5rem;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #c3c3ac;   
}

.rodape-contato h5, .rodape-idiomas h5, .rodape-redes-sociais h5 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #c3c3ac;
}

.rodape-redes-sociais a {
    padding: 0 20px;
 }

.rodape-redes-sociais i {
    font-size: 20px;
    color: #c3c3ac;    
}

.rodape-redes-sociais i:hover {
    color: #7e6d4c;
}

.rodape-copyrigth {
    width: 100%;
    height: 2.5rem;
    background-color: #030c09;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    font-size: 8px;
    font-family: 'Hind', sans-serif;
    letter-spacing: 0.3px;
   
}

*@media screen and (max-width: 480px) {

  
    

}
